.article-video {
    display: block;
    width: 100%;
    height: rem(250px);
    @include r(1200) {
        height: rem(680px);
    }
    @include r(680) {
        height: rem(260px);
    }
    iframe {
        display: block;
        width: 100%;
        height: 100%;
    }
}
