.accordeon {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	margin-bottom: rem(50px);
	@include r(1200) {
		flex-direction: column;
	}
	&__block {
		background: #f7f9fa;
		border-radius: rem(5px);
		padding: rem(50px) rem(30px);
		width: 100%;
		display: flex;
		align-items: center;
	}
	&__icon {
		align-self: center;
		display: block;
		width: rem(14px);
		height: rem(14px);
		flex-shrink: 0;
		margin-left: rem(3px);
		margin-right: rem(3px);
		@include r(1200) {
			margin-top: rem(5px);
			margin-bottom: rem(5px);
			transform: rotate(90deg);
		}
	}
}

.body {
	&--light {
	}
	&--dark {
		.accordeon {
			&__block {
				background-color: $black;
				border: 1px solid $light;
			}
		}
	}
}