<!DOCTYPE html>
<html lang="ru">
<head>
    <title>10. Кластерное развитие</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
<div class="page">
    @@include("../blocks/modules/panel/panel.html")
    @@include("../blocks/modules/header/header.html")
    <main class="content page__content">
        <section class="section">
            <div class="container ui__container">
                <nav class="breadcrumbs">
                    <a href="/" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
							Кластерное развитие
						</span>
                </nav>
                <h2 class="title title--line">
                    <span class="title__text">Кластерное развитие</span>
                    <a href="" class="btn btn--60 btn--doc title__btn">
							<span>
								Документы
							</span>
                    </a>
                </h2>
                <div class="video-section">
                    <div class="video-section__content">
                        <div class="text">
                            <p>
                                Продвижение кластерных инициатив – одна из эффективных технологий управления
                                региональным
                                развитием. С этой целью в структуре Фонда «Центр поддержки предпринимательства
                                Калининградской области (микрокредитная компания)» в декабре 2017 года создан Центр
                                кластерного развития. Он оказывает содействие развитию кооперации бизнеса, органов
                                государственной власти, учреждений образования, науки и инвесторов в реализации
                                совместных
                                проектов.
                            </p>
                            <a href="https://mbkaliningrad.ru/cluster/about/"
                               class="btn btn--50"><span>Больше о центре</span></a>
                        </div>
                    </div>
                    <iframe class="video-section__video" src="https://www.youtube.com/embed/U3qZc5w19Ww" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""></iframe>
                </div>
            </div>
        </section>
        <section class="section section--dark">


            <div class="container">
                <div class="block-text text">
                    <h3>
                        Кластерные проекты
                    </h3>
                </div>
                @@include("../blocks/modules/sliders/slider-cluster.html")
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="block-text text">
                    <h3>
                        Кластеры Калининградской области
                    </h3>
                    <p>
                        В настоящий момент в Калининградской области действуют три кластера: Кластер янтарной
                        промышленности, Кластер судостроения и судоремонта Калининградской области и Балтийский
                        металлообрабатывающий кластер.
                    </p>
                </div>
                <div class="gallery">

                    <a href="amber/" class="hide-bg gallery__item gallery__item--6"
                       style="background-image: url('https://mbkaliningrad.ru/upload/iblock/6c2/amber_1.jpg');">
                        <div class="gallery__content">
                            <h3 class="gallery__title">
                                Кластер янтарной промышленности
                            </h3>
                            <p class="gallery__text">
                                Калининградская область имеет естественные предпосылки для развития янтарного
                                промышленного
                                кластера, поскольку на территории региона объединены добыча и переработка янтаря, а
                                также
                                богатая материальная и нематериальная культура, связанная с переработкой и потреблением
                                янтаря.
                            </p>
                        </div>
                    </a>

                    <a href="bmk/" class="hide-bg gallery__item gallery__item--6"
                       style="background-image: url('https://mbkaliningrad.ru/upload/iblock/c4f/%D0%97%D0%B0%D0%B2%D0%BE%D0%B4%20%D0%BC%D0%B5%D1%82%D0%B0%D0%BB%D0%BB%D0%BE%D0%BA%D0%BE%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D0%B9%203.jpg');">
                        <div class="gallery__content">
                            <h3 class="gallery__title">
                                Балтийский металлообрабатывающий кластер
                            </h3>
                            <p class="gallery__text">
                                Постановлением Правительства Калининградской области программа по развитию Балтийского
                                металлообрабатывающего кластера внесена в перечень государственных программ по развитию
                                Калининградской области. Программа проекта рассчитана вплоть до 2025 года и содержит
                                следующие задачи:

                            </p>
                        </div>
                    </a>

                    <a href="shipbuilding/" class="hide-bg gallery__item gallery__item--6"
                       style="background-image: url('https://mbkaliningrad.ru/upload/iblock/450/houseboat_thumb.jpg');">
                        <div class="gallery__content">
                            <h3 class="gallery__title">
                                Кластер судостроения и судоремонта Калининградской области
                            </h3>
                            <p class="gallery__text">
                                Участники кластера обладают возможностью строительства судов различного назначения.
                                Членом
                                кластера является крупнейшая судоверфь ПСЗ Янтарь, что позволяет обеспечивать выполнение
                                заказов военно-промышленного комплекса и активно развивать гражданское судостроение.
                                Предприятия кластера имеют партнёрские соглашения с крупнейшими производителями
                                судового, а
                                также иного технологического оборудования России, Китая, Германии, США.
                            </p>
                        </div>
                    </a>

                    <a href="https://mbkaliningrad.ru/cluster/tourism/" class="hide-bg gallery__item gallery__item--6"
                       style="background-image: url('https://fakeimg.pl/600x400');">
                        <div class="gallery__content">
                            <h3 class="gallery__title">
                                Туристский кластер
                            </h3>
                            <p class="gallery__text">
                                В ходе Международного Форума предпринимателей региона Балтийского моря, который
                                состоялся 12
                                октября 2018 г., участники панельной сессии «Будущее туризма Калининградской области» а
                                именно представители туристических операторов, гостиниц, сектора общественного питания,
                                производителей сувенирной продукции, транспортных предприятий и других, обсудили
                                инициативу
                                создания туристического кластера Калининградской области.
                            </p>
                        </div>
                    </a>

                    <!--                <a href="https://mbkaliningrad.ru/cluster/kitko/" class="hide-bg gallery__item gallery__item--6"-->
                    <!--                   style="background-image: url('/cluster/images/cliuster-it.jpg');">-->
                    <div class="hide-bg gallery__item gallery__item--6"
                         style="background-image: url('https://fakeimg.pl/600x400');">
                        <div class="gallery__content">
                            <h3 class="gallery__title">
                                Формирующийся кластер информационных технологий Калининградской области
                            </h3>
                            <p class="gallery__text">

                            </p>
                        </div>
                    </div>
                    <!--                </a>-->
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="block-text text">
                    <h4>
                        Преимущества участия в кластере
                    </h4>
                    <p>
                        Для компаний кластер — способ взаимодействия с партнерами, способ решения важных, но
                        непрофильных
                        для себя задач, или же реализации сложных проектов, требующих большого числа участников, таких
                        как
                        образовательный центр, создание инфраструктуры для НИОКР, разработка новых сложных продуктов,
                        продвижение на международном рынке, организация форумов. Участие в кластере помогает также
                        привлечь
                        финансирование для этих проектов.
                    </p>
                </div>
                <article class="ill-card">
                    <div class="ill-card__content text">
                        <h4>
                            Кроме того, участие в кластере – это:
                        </h4>
                        <ul>
                            <li>Возможность консолидированного участия в государственных программах по развитию
                                территориальных и промышленных кластеров;
                            </li>
                            <li>Совместное представление и защита интересов участников кластера в федеральных и
                                региональных
                                органах власти;
                            </li>
                            <li>Решение вопросов подготовки и переподготовки кадров;</li>
                            <li>Наличие единой̆ и понятной̆ для всех участников стратегии развития;</li>
                            <li>Создание и развитие сервисных компетенций, общих для всех участников.</li>
                        </ul>
                    </div>
                    <div class="image ill-card__thumb">
                        <img class="image__pict image__pict--contain" src="./img/ill-9.svg"
                             alt="Декоративная картинка">
                        <figcaption class="image__discript" aria-hidden="true">
                            Декоративная картинка
                        </figcaption>
                    </div>
                </article>


            </div>
        </section>
        <section class="section section--dark">
            <div class="container">
                <div class="block-text text">
                    <h4>
                        Услуги ЦКР не могут оказываться СМСП:
                    </h4>
                    <ul>
                        <li>Кредитным организациям, страховым организациям (за исключением потребительских
                            кооперативов),
                            инвестиционным фондам, негосударственным пенсионным фондам, профессиональным участникам
                            рынка
                            ценных бумаг, ломбардам;
                        </li>
                        <li>Участникам соглашений о разделе продукции и игорному бизнесу;</li>
                        <li>Производителям и продавцам подакцизных товаров, добытчикам полезных ископаемых, за
                            исключением
                            общераспространенных полезных ископаемых;
                        </li>
                        <li>Являющимся в порядке, установленном законодательством Российской Федерации о валютном
                            регулировании и валютном контроле, нерезидентами Российской Федерации, за исключением
                            случаев,
                            предусмотренных международными договорами Российской Федерации;
                        </li>
                        <li>Имеющим задолженность по налогам.</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <h2 class="title">
                    <span class="title__text">Контакты</span>
                </h2>
                <div class="contacts">
                    <div class="columns">

                        <div class="columns__col columns__col--4">
                            <article class="contact-card contact-card--full">
                                <div class="image contact-card__thumb">
                                    <img class="image__pict image__pict--contain"
                                         src="https://fakeimg.pl/600x400"
                                         alt="Офицеров Дмитрий Станиславович ">
                                    <figcaption class="image__discript" aria-hidden="true">
                                        Спронская <br> Инна Владимировна
                                    </figcaption>
                                </div>
                                <h4 class="contact-card__name">
                                    Офицеров<br>Дмитрий Станиславович </h4>
                                <div class="contact-card__links">
                                    <a href="tel:+7 (4012) 994-588 (доб. 918) " class="contact-card__link">
                                        +7 (4012) 994-588 (доб. 918) </a>
                                    <a href="mailto:oficerov@mbkaliningrad.ru" class="contact-card__link">
                                        oficerov@mbkaliningrad.ru </a>
                                </div>
                                <p class="contact-card__discript">
                                </p>
                            </article>
                        </div>

                        <div class="columns__col columns__col--4">
                            <article class="contact-card contact-card--full">
                                <div class="image contact-card__thumb">
                                    <img class="image__pict image__pict--contain"
                                         src="https://fakeimg.pl/600x400" alt="Белоусов Денис Витальевич ">
                                    <figcaption class="image__discript" aria-hidden="true">
                                        Спронская <br> Инна Владимировна
                                    </figcaption>
                                </div>
                                <h4 class="contact-card__name">
                                    Белоусов<br>Денис Витальевич </h4>
                                <div class="contact-card__links">
                                    <a href="tel:+7 (4012) 994-588 (доб. 944)" class="contact-card__link">
                                        +7 (4012) 994-588 (доб. 944) </a>
                                    <a href="mailto:belousovdv@mbkaliningrad.ru" class="contact-card__link">
                                        belousovdv@mbkaliningrad.ru </a>
                                </div>
                                <p class="contact-card__discript">
                                </p>
                            </article>
                        </div>

                        <div class="columns__col columns__col--4">
                            <article class="contact-card contact-card--full">
                                <div class="image contact-card__thumb">
                                    <img class="image__pict image__pict--contain" src="https://fakeimg.pl/600x400"
                                         alt="Светлана Игоревна Нечай">
                                    <figcaption class="image__discript" aria-hidden="true">
                                        Спронская <br> Инна Владимировна
                                    </figcaption>
                                </div>
                                <h4 class="contact-card__name">
                                    Светлана<br>Игоревна Нечай </h4>
                                <div class="contact-card__links">
                                    <a href="tel:+7 (4012) 994-588 (доб. 965)" class="contact-card__link">
                                        +7 (4012) 994-588 (доб. 965) </a>
                                    <a href="mailto:nechai@mbkaliningrad.ru" class="contact-card__link">
                                        nechai@mbkaliningrad.ru </a>
                                </div>
                                <p class="contact-card__discript">
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="partners">
                <div class="container partners__container">
                    <h2 class="title partners__title">
                        <span class="title__text">Партнеры</span>
                    </h2>
                    <div class="partners__articles">

                        <a href="http://stahlwerk39.ru/" class="image partners__article" target="_blank" rel="nofollow">
                            <img class="image__pict image__pict--contain" src="https://fakeimg.pl/600x400"
                                 alt="Stalhwerk">
                            <figcaption class="image__discript" aria-hidden="true">
                                Stalhwerk
                            </figcaption>
                        </a>

                        <a href="http://amber-cluster.ru/" class="image partners__article" target="_blank"
                           rel="nofollow">
                            <img class="image__pict image__pict--contain" src="https://fakeimg.pl/600x400"
                                 alt="Кластер янтарной промышденности">
                            <figcaption class="image__discript" aria-hidden="true">
                                Кластер янтарной промышденности
                            </figcaption>
                        </a>

                        <a href="https://www.kolledge39.ru/" class="image partners__article" target="_blank"
                           rel="nofollow">
                            <img class="image__pict image__pict--contain" src="https://fakeimg.pl/600x400"
                                 alt="Художественно-промышленный техникум">
                            <figcaption class="image__discript" aria-hidden="true">
                                Художественно-промышленный техникум
                            </figcaption>
                        </a>

                        <a href="https://www.ambermuseum.ru/" class="image partners__article" target="_blank"
                           rel="nofollow">
                            <img class="image__pict image__pict--contain" src="https://fakeimg.pl/600x400"
                                 alt="Музей янтаря">
                            <figcaption class="image__discript" aria-hidden="true">
                                Музей янтаря
                            </figcaption>
                        </a>

                        <a href="" class="image partners__article" target="_blank" rel="nofollow">
                            <img class="image__pict image__pict--contain" src="https://fakeimg.pl/600x400"
                                 alt="Янтарь ассоциация СРО">
                            <figcaption class="image__discript" aria-hidden="true">
                                Янтарь ассоциация СРО
                            </figcaption>
                        </a>

                        <a href="http://www.klgtu.ru/" class="image partners__article" target="_blank" rel="nofollow">
                            <img class="image__pict image__pict--contain" src="https://fakeimg.pl/600x400"
                                 alt="КГТУ">
                            <figcaption class="image__discript" aria-hidden="true">
                                КГТУ
                            </figcaption>
                        </a>

                        <a href="https://www.kantiana.ru/" class="image partners__article" target="_blank"
                           rel="nofollow">
                            <img class="image__pict image__pict--contain" src="https://fakeimg.pl/600x400"
                                 alt="БФУ">
                            <figcaption class="image__discript" aria-hidden="true">
                                БФУ
                            </figcaption>
                        </a>

                        <a href="https://www.ranepa.ru/" class="image partners__article" target="_blank" rel="nofollow">
                            <img class="image__pict image__pict--contain" src="https://fakeimg.pl/600x400"
                                 alt="РАНХиГС">
                            <figcaption class="image__discript" aria-hidden="true">
                                РАНХиГС
                            </figcaption>
                        </a>
                        <a href="https://www.sberbank.ru/" class="image partners__article" target="_blank"
                           rel="nofollow">
                            <img class="image__pict image__pict--contain" src="https://fakeimg.pl/600x400"
                                 alt="Сбербанк">
                            <figcaption class="image__discript" aria-hidden="true">
                                Сбербанк
                            </figcaption>
                        </a>
                        <a href="https://www.kgd-rdc.ru" class="image partners__article" target="_blank" rel="nofollow">
                            <img class="image__pict image__pict--contain"
                                 src="https://fakeimg.pl/600x400"
                                 alt="Корпорация развития Калининградской области">
                            <figcaption class="image__discript" aria-hidden="true">
                                Корпорация развития Калининградской области
                            </figcaption>
                        </a>
                        <div class="partners__article partners__article--clear"></div>
                        <div class="partners__article partners__article--clear"></div>
                        <div class="partners__article partners__article--clear"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
</div>

@@include("../blocks/modules/m-menu/m-menu.html")

<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
</body>
</html>
