<!DOCTYPE html>
<html lang="ru">
<head>
	<title>12.3. Программа предосчтавления поручительства</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="/12-page.html" class="breadcrumbs__link">
							Предоставление поручительства
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Программа предоставления поручительств
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Программа предоставления поручительства</span>
					</h2>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="articles">
						<div class="articles__content">

							<a id="bx_3218110189_2113" href="/upload/iblock/8db/Poryadok-i-usloviya-predostavleniya-poruchitelstv-mart-2023.pdf" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Порядок и условия предоставления поручительств  фондом "Гарантийный фонд Калининградской области"            </p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
			Скачать
		</span>
								</div>
							</a>
							<a id="bx_3218110189_2112" href="/upload/iblock/871/Prilozhenie-_-1-ZAYAVKA.doc" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Заявка на предоставление поручительства фонда "Гарантийный фонд Калининградской области"            </p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
			Скачать
		</span>
								</div>
							</a>
							<a id="bx_3218110189_2111" href="/upload/iblock/00f/Prilozhenie-_-2-Spisok-dokumentov.doc" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Перечень документов для получения поручительства фонда "Гарантийный фонд Калининградской области" (Приложение №2 к Порядку)            </p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
			Скачать
		</span>
								</div>
							</a>
							<a id="bx_3218110189_2110" href="/upload/iblock/b48/Приложение №3  (согласие на обработку).doc" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Согласие на обработку персональных данных (Приложение №3 к Порядку)            </p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
			Скачать
		</span>
								</div>
							</a>
							<a id="bx_3218110189_2109" href="/upload/iblock/4cb/Приложение №4 (типовой договор).docx" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Типовая форма Договора поручительства фонда "Гарантийный фонд Калининградской области" (Приложение №4 к Порядку)            </p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
			Скачать
		</span>
								</div>
							</a>
							<a id="bx_3218110189_2107" href="/upload/iblock/4d2/Приложение №5 (справка о цели финансирования).docx" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Рекомендуемый образец справки о целевом использовании Финансирования (Приложение №5 к Порядку)            </p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
			Скачать
		</span>
								</div>
							</a>
							<a id="bx_3218110189_2491" href="/upload/iblock/0a2/Приложение №6 (типовой договор оплата вознаграждения по графику).docx" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Типовая форма Договора поручительства фонда "Гарантийный фонд Калининградской области" (с оплатой по графику) (Приложение №6 к Порядку)            </p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
			Скачать
		</span>
								</div>
							</a>
							<a id="bx_3218110189_21129" href="/upload/iblock/ea8/Приложение №7 (рекомендуемая форма уведомления).docx" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Рекомендуемая форма уведомления (Приложение №7)            </p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
			Скачать
		</span>
								</div>
							</a>
							<a id="bx_3218110189_21130" href="/upload/iblock/d63/Приложение №8 (дополнительное соглашение).docx" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Дополнительное соглашение (Приложение №8)            </p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
			Скачать
		</span>
								</div>
							</a>
							<a id="bx_3218110189_10833" href="/upload/iblock/4c9/Opis-dokumentov-k-zayavke-03.2023.docx" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Опись документов, прилагаемых к Заявке на предоставление поручительства            </p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
			Скачать
		</span>
								</div>
							</a>



						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
