<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Социальное предприятие-Развитие</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/header-m/header-m.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="/" class="breadcrumbs__link">
							Меры поддержки
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="/" class="breadcrumbs__link">
							Микрокредитование
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Социальное предприятие-Развитие
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Социальное предприятие-Развитие</span>
					</h2>
					<article class="title-card" style="background-image: url('img/title-card-bg-3.png');">
						<div class="title-card__wrapper">
							<div class="title-card__content">
								<p class="title-card__discript">
									Целевое назначение
								</p>
								<h3 class="title-card__title">
									На развитие предпринимательской деятельности социальных предприятий, осуществляемой в соответствии с требованиями законодательства РФ
								</h3>
								<div class="title-card__text">
									<a href="" class="btn btn--60 btn--opacity">
										<span>
											Скачать пакет документов
										</span>
									</a>
								</div>
							</div>
						</div>
					</article>
					<div class="columns mb-50">
						<div class="columns__col columns__col--4">
							<article class="icon-fact">
								<svg class="icon-fact__icon">
									<use xlink:href="./img/sprites/sprite.svg#icon-fact-1"></use>
								</svg>
								<div class="icon-fact__content">
									<h4 class="icon-fact__title">
										Получатели займа
									</h4>
									<div class="icon-fact__text">
										<div class="text">
											<p>
												СМСП, имеющий статус социального предприятия в соответствии с
												Федеральным законом от 24 июля 2007 г.
												N 209-ФЗ "О развитии малого и среднего предпринимательства в
												Российской Федерации"
											</p>
										</div>
									</div>
								</div>
							</article>
						</div>
						<div class="columns__col columns__col--4">
							<article class="icon-fact">
								<svg class="icon-fact__icon">
									<use xlink:href="./img/sprites/sprite.svg#icon-fact-3"></use>
								</svg>
								<div class="icon-fact__content">
									<h4 class="icon-fact__title">
										Процентная ставка
									</h4>
									<div class="icon-fact__text">
										<div class="text">
											<p>
												3,75 %
												<!--0,5 ключевой ставки Банка России-->
											</p>
										</div>
									</div>
								</div>
							</article>
						</div>
						<div class="columns__col columns__col--4">
							<article class="icon-fact">
								<svg class="icon-fact__icon">
									<use xlink:href="./img/sprites/sprite.svg#icon-fact-2"></use>
								</svg>
								<div class="icon-fact__content">
									<h4 class="icon-fact__title">
										Срок займа
									</h4>
									<div class="icon-fact__text">
										<div class="text">
											<p>
												До 36 месяцев
											</p>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<articles class="item-progress">
								<p class="item-progress__title">
									Максимальная сумма
								</p>
								<div class="item-progress__block">
									<p class="item-progress__price">
										5 000 000 руб.
									</p>
									<div class="item-progress__line">
										<div class="item-progress__progress" style="width:80%;"></div>
									</div>
								</div>
							</articles>
							<articles class="item-progress">
								<p class="item-progress__title">
									Минимальная сумма
								</p>
								<div class="item-progress__block">
									<p class="item-progress__price">
										100 000 руб.
									</p>
									<div class="item-progress__line">
										<div class="item-progress__progress" style="width:20%;"></div>
									</div>
								</div>
							</articles>
						</div>
					</div>
					<div class="block-text">
						<div class="text">
							<h4>
								График погашения
							</h4>
							<p>
								Возможна отсрочка погашения основного долга при сроке льготного микрозайма до 1 года - на срок не более трех месяцев, свыше 1 года – на срок не более шести месяцев
							</p>
							<div class="hr"></div>
							<h4>
								Досрочное погашение
							</h4>
							<p>
								Да (без комиссий)
							</p>
							<div class="hr"></div>
							<h4>
								Период деятельности заемщика
							</h4>
							<p>
								От 3 (Трех) месяцев ведения финансово-экономической деятельности
							</p>
							<div class="hr"></div>
							<h4>
								Обеспечение займа
							</h4>
							<p>
								Залог и поручительство владельцев бизнеса
							</p>
							<div class="hr"></div>
							<h4>
								Особые условия
							</h4>
							<p>
								Сумма займа зависит от финансовых показателей деятельности
							</p>
							<div class="hr"></div>
							<h4>
								Иные условия
							</h4>
							<p>
								Целевой льготный микрозайм
							</p>
							<div class="hr"></div>
						</div>
					</div>
					<div class="block-text mb-50">
						<div class="text">
							<p>
								<b>
									*в период действия на территории Калининградской области режимов повышенной готовности или
									чрезвычайной ситуации (раздел 12 Правил предоставления льготных микрозаймов) микрозаймы выдаются
									под процентную ставку, не превышающую ключевую ставку Банка России, на срок, не превышающий 24
									(двадцати четырех) месяцев
								</b>
							</p>
							<p>
								<b>
									** СМСП осуществляет реализацию приоритетных проектов в случае, если выполняется хотя бы одно из
									следующих условий:
								</b>
							</p>
						</div>
					</div>
					<div class="table mb-50">
						<table>
							<thead>
							<tr>
								<th>
									Условие
								</th>
								<th>
									Требуемое подтверждение
								</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>
									<p>
										является резидентом промышленного (индустриального) парка, агропромышленного парка,
										технопарка, промышленного технопарка, бизнес-инкубатора и включен в реестр резидентов таких
										организаций, образующих инфраструктуру поддержки субъектов малого и среднего
										предпринимательства
									</p>
								</td>
								<td>
									<p>
										Письмо от управляющей компании парка о подтверждении резидентства
									</p>
								</td>
							</tr>
							<tr>
								<td>
									<p>
										осуществляет экспортную деятельность
									</p>
								</td>
								<td>
									<p>
										Наличие заключенного экспортного контракта и/или подтверждение факта отгрузки товара или
										оказания услуг на экспорт за последние 12 месяцев
									</p>
								</td>
							</tr>
							<tr>
								<td>
									<p>
										СМСП создан женщиной, зарегистрированной в качестве индивидуального предпринимателя или
										являющейся единоличным исполнительным органом юридического лица и (или) женщинами,
										являющимися учредителями (участниками) юридического лица, а их доля в уставном капитале
										общества с ограниченной ответственностью либо складочном капитале хозяйственного
										товарищества составляет не менее 50%, либо не менее чем 50% голосующих акций акционерного
										общества
									</p>
								</td>
								<td>
									<p>
										Не требуется
									</p>
								</td>
							</tr>
							<tr>
								<td>
									<p>
										является сельскохозяйственным производственным или потребительским кооперативом или членом
										сельскохозяйственного потребительского кооператива - крестьянским (фермерским) хозяйством
									</p>
								</td>
								<td>
									<p>
										Заверенная копия протокола или выписка из протокола общего собрания членов
										сельскохозяйственного потребительского кооператива о принятии в члены кооператива
									</p>
								</td>
							</tr>
							<tr>
								<td>
									<p>
										осуществляет реализацию проекта в сферах туризма, экологии или спорта
									</p>
								</td>
								<td>
									<p>
										Одновременное выполнение следующих условий:
									</p><ol>
									<li>наличие ОКВЭД, подтверждающих работу в данных сферах.</li>
									<li>целевое расходование средств микрозайма должно быть осуществлено в рамках деятельности в
										данных сферах
									</li>
								</ol>
									<p></p>
								</td>
							</tr>
							<tr>
								<td>
									<p>
										создан физическим лицом старше 45 лет (физическое лицо старше 45 лет зарегистрировано в
										качестве индивидуального предпринимателя; в состав учредителей (участников) или акционеров
										юридического лица входит физическое лицо старше 45 лет и владеющее не менее чем 50% доли в
										уставном капитале общества с ограниченной ответственностью или складочном капитале
										хозяйственного товарищества, либо не менее чем 50% голосующих акций акционерного общества),
										являющийся вновь зарегистрированным и действующим менее 1 (одного) года на момент принятия
										решения о предоставлении микрозайма
									</p>
								</td>
								<td>
									<p>
										Не требуется
									</p>
								</td>
							</tr>
							<tr>
								<td>
									<p>
										осуществляет деятельность в сфере промышленности, пищевой переработки или в сельском
										хозяйстве
									</p>
								</td>
								<td>
									<p>
										Одновременное выполнение следующих условий:
									</p><ol>
									<li>наличие ОКВЭД, подтверждающих работу в данных сферах.</li>
									<li>целевое расходование средств микрозайма должно быть осуществлено в рамках деятельности в
										данных сферах
									</li>
								</ol>
									<p></p>
								</td>
							</tr>
							<tr>
								<td>
									<p>
										субъект малого и среднего предпринимательства относится к молодежному предпринимательству
										(физическое лицо до 35 лет зарегистрировано в качестве индивидуального предпринимателя; в
										состав учредителей (участников) или акционеров юридического лица входит физическое лицо до
										35 лет, владеющее не менее чем 50 % доли в уставном капитале общества с ограниченной
										ответственностью или складочном капитале хозяйственного товарищества либо не менее чем 50 %
										голосующих акций акционерного общества)
									</p>
								</td>
								<td>
									<p>
										Не требуется
									</p>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="block-text mb-50">
						<div class="text">
							<p>
								*** Возможно рассмотрение заявки на предоставление льготного микрозайма от Заявителя, не
								соответствующего требованию в части сроков ведения финансово-хозяйственной деятельности, в случае,
								когда льготный микрозайм запрашивается СМСП, входящим в группу связанных компаний и созданным для
								реализации нового направления деятельности группы связанных компаний или расширения текущей
								деятельности группы связанных компаний. При этом для получения льготного микрозайма обязательно
								оформление договора поручительства с Поручителем-компанией группы СМСП, соответствующей всем
								требованиям Фонда, изложенным в настоящих Правилах. При этом оценка финансового состояния
								деятельности проводится по консолидированным данным Заявителя и Поручителя-компании группы СМСП.
							</p>
							<p>
								**** необходимо наличие основного или дополнительного кода ОКВЭД, входящего в раздел ОКВЭД А, а
								также фактически осуществлять деятельность в данном направлении.
							</p>
						</div>
					</div>
					<div class="block-text">
						<div class="text">
							<h3>
								Необходимые документы
							</h3>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--light link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Перечень и формы необходимых документов для Юридических лиц
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--light link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Перечень и формы необходимых документов для ИП
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
		
		
		
		</main>
		@@include("../blocks/modules/footer-m/footer-m.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
