<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Микрофинансирование</title>
    @@include("../blocks/modules/head/head.html")
</head>

<body class="body body--light">
<div class="page">
    @@include("../blocks/modules/header-m/header-m.html")
    <main class="content">
        <!-- @@include("../blocks/modules/intro-m/intro-m.html") -->
        <section class="section">
            <div class="container">
                <h2 class="title title--line">
                    <span class="title__text">Микрофинансирование</span>
                </h2>
                <a href="24-1-page.html" class="title-card title-card--m"
                   style="background-image: url('./img/money-intro-bg.jpg');">
                    <div class="title-card__wrapper">
                        <div class="title-card__content title-card__content--m">
                            <h3 class="title-card__title">
                                О Фонде
                            </h3>
                            <div class="title-card__text">
                                Фонд «Фонд микрофинансирования Калининградской области (микрокредитная
                                компания)» (фонд ФМФ КО (МКК)) создан
                                Правительством Калининградской области в лице Министерства
                                экономического развития, промышленности и торговли
                                Калининградской области при поддержке Министерства экономического
                                развития Российской Федерации.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </section>
        <section class="section section--dark">
            <div class="container">
                <div class="block-text text">
                    <h4>
                        Основная информация о Фонде:
                    </h4>
                </div>
                <div class="columns">
                    <div class="columns__col columns__col--4">
                        <article class="factoid-column factoid-column--full">
                            <h4 class="factoid-column__title factoid-column__title--small">
                                Полное наименование микрофинансовой организации
                            </h4>
                            <p class="factoid-column__text">
                                Фонд «Фонд микрофинансирования Калининградской области (микрокредитная
                                компания)»
                            </p>
                        </article>
                    </div>
                    <div class="columns__col columns__col--4">
                        <div class="text">
                            <p>
                                Регистрационный номер записи фонда ФМФ КО (МКК) в государственном реестре
                                микрофинансовых организаций
                            </p>
                            <p>
                                <b>
                                    1903127009488
                                </b>
                            </p>
                            <p>
                                ИНН микрофинансовой организации
                            </p>
                            <p>
                                <b>
                                    3906905082
                                </b>
                            </p>
                        </div>
                    </div>
                    <div class="columns__col columns__col--4">
                        <div class="text">
                            <p>
                                Дата внесения сведений о фонде ФМФ КО (МКК) в государственный реестр
                                микрофинансовых организаций
                            </p>
                            <p>
                                <b>
                                    24.12.2019 г.
                                </b>
                            </p>
                            <p>
                                ОГРН микрофинансовой организации
                            </p>
                            <p>
                                <b>
                                    1133900002170
                                </b>
                            </p>
                        </div>
                    </div>
                    <div class="columns__col columns__col--4">
                        <article class="factoid-column factoid-column--full">
                            <h4 class="factoid-column__title factoid-column__title--small">
                                Сокращенное наименование
                            </h4>
                            <p class="factoid-column__text">
                                ФМФ КО (МКК)
                            </p>
                        </article>
                    </div>
                    <div class="columns__col columns__col--8">
                        <div class="article-card-link"
                             style="background-image: url('./img/article-card-link-icon.svg');">
                            <span class="article-card-link__title">
                                Учредительные документы фонда
                            </span>
                            <a href="./helpful/" class="btn btn--50 article-card-link__btn">
                                <span>
                                    Перейти
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="block-text text">
                    <h4>
                        Информация о членстве фонда ФМФ КО (МКК) в саморегулируемой организации (СРО) в сфере
                        финансового рынка, объединяющей
                        микрофинансовые организации:
                    </h4>
                </div>
                <div class="articles articles--clear">
                    <div class="articles__content">
                        <div class="columns">
                            <div class="columns__col columns__col--4">
                                <article class="block-card" style="background-image: url('./img/block-card-bg.jpg')">
                                    <div class="block-card__content">
                                        <div class="text">
                                            <p>
                                                <b>Наименование СРО</b>
                                            </p>
                                            <p>
                                                Союз «Микрофинансовый Альянс «Институты развития малого и среднего
                                                бизнеса»
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="columns__col columns__col--8 pt-40">
                                <div class="columns">
                                    <div class="columns__col columns__col--6">
                                        <div class="block-icon">
                                            <svg class="block-icon__icon">
                                                <use xlink:href="./img/sprites/sprite.svg#icon-block-calendar"></use>
                                            </svg>
                                            <div class="block-icon__content">
                                                <div class="text">
                                                    <p><b>Дата вступления фонда ФМФ КО (МКК) в СРО</b></p>
                                                    <p>
                                                        «19» марта 2020 года
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columns__col columns__col--6">
                                        <div class="block-icon">
                                            <svg class="block-icon__icon">
                                                <use xlink:href="./img/sprites/sprite.svg#icon-block-ok"></use>
                                            </svg>
                                            <div class="block-icon__content">
                                                <div class="text">
                                                    <p><b>Регистрационный номер в реестре членов СРО</b></p>
                                                    <p>
                                                        03 20 031 39 1342
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columns__col columns__col--6">
                                        <div class="block-icon">
                                            <svg class="block-icon__icon">
                                                <use xlink:href="./img/sprites/sprite.svg#icon-block-marker"></use>
                                            </svg>
                                            <div class="block-icon__content">
                                                <div class="text">
                                                    <p><b>Адрес (место нахождения) СРО</b></p>
                                                    <p>
                                                        125367, г. Москва, Полесский проезд 16, стр.1, оф.308
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columns__col columns__col--6">
                                        <div class="block-icon">
                                            <svg class="block-icon__icon">
                                                <use xlink:href="./img/sprites/sprite.svg#icon-block-link"></use>
                                            </svg>
                                            <div class="block-icon__content">
                                                <div class="text">
                                                    <p><b>Адрес официального сайта СРО</b></p>
                                                    <p>
                                                        <a target="_blank" rel="nofollow" href="https://www.alliance-mfo.ru/">www.alliance-mfo.ru</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--red section--half-bg" style="background-image: url('./img/section-red-bg.png');">
            <div class="container">
                <div class="columns">
                    <div class="columns__col columns__col--8">
                        <div class="text text--default">
                            <h4>
                                Цель деятельности фонда ФМФ КО (МКК)
                            </h4>
                            <p>
                                Участие в формировании инфраструктуры поддержки субъектов малого и среднего
                                предпринимательства, а также физических лиц,
                                применяющих специальный налоговый режим «Налог на профессиональный доход»,
                                Калининградской области.
                            </p>
                            <p>
                                Фонд ФМФ КО (МКК) осуществляет микрофинансовую деятельность и предоставляет
                                финансовую поддержку субъектам малого и
                                среднего предпринимательства, а также физическим лицам, применяющим специальный
                                налоговый режим «Налог на
                                профессиональный доход», Калининградской области на возмездной основе.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--dark">
            <div class="container">
                <div class="block-text text">
                    <h4>
                        Органы управления
                    </h4>
                </div>
                <div class="columns mb-50">
                    <div class="columns__col columns__col--6">
                        <article class="factoid-column factoid-column--full full-h">
                            <h4 class="factoid-column__title factoid-column__title--small">
                                Учредитель фонд ФМФ КО (МКК)- Министерство экономического развития, промышленности и
                                торговли Калининградской области.
                            </h4>
                            <p class="factoid-column__text">
                                Учредитель фонда ФМФ КО (МКК) является высшим органом управления и осуществляет свои
                                права по управлению фондом ФМФ КО
                                (МКК) путем принятия соответствующих решений.
                            </p>
                        </article>
                    </div>
                    <div class="columns__col columns__col--6">
                        <article class="factoid-column factoid-column--full full-h">
                            <h4 class="factoid-column__title factoid-column__title--small">
                                Исполнительный орган - Генеральный директор фонда ФМФ КО (МКК) Янберг Жанна
                                Геннадьевна *. Дата назначения: 25.11.2020 г.
                            </h4>
                            <p class="factoid-column__text">
                                Генеральный директор является единоличным исполнительным органом фонда.
                            </p>
                        </article>
                    </div>
                </div>
                <div class="text mb-50">
                    <p>
                        * субъектом персональных данных разрешена обработка персональных данных неограниченным
                        кругом лиц, запретов не установлено.
                    </p>
                </div>
                <article class="article-drop-card">
                    <div class="article-drop-card__header" tabindex="0">
                        <p class="article-drop-card__title">
                            Совет фонда ФМФ КО (МКК)
                        </p>
                        <svg class="icon-svg article-drop-card__icon">
                            <use xlink:href="./img/sprites/sprite.svg#drop-arrow"></use>
                        </svg>
                    </div>
                    <div class="article-drop-card__main">
                        <div class="article-drop-card__content">
                            <div class="text">
                                <p>
                                    Совет фонда - высший коллегиальный орган управления.
                                </p>
                                <h4>
                                    Состав совета фонда
                                </h4>
                            </div>
                            <div class="columns mb-50">
                                <div class="columns__col columns__col--4">
                                    <article class="factoid-column factoid-column--full full-h">
                                        <h4 class="factoid-column__title factoid-column__title--small">
                                            Лесикова <br> Вероника Юрьевна *
                                        </h4>
                                        <p class="factoid-column__text">
                                            Председатель Совета фонда, Министр экономического развития,
                                            промышленности и торговли Калининградской области
                                        </p>
                                    </article>
                                </div>
                                <div class="columns__col columns__col--4">
                                    <article class="factoid-column factoid-column--full full-h">
                                        <h4 class="factoid-column__title factoid-column__title--small">
                                            Захарова <br> Анна Валентиновна *
                                        </h4>
                                        <p class="factoid-column__text">
                                            Заместитель председателя Совета. Заместитель начальника Департамента промышленности
                                            и науки Министерства экономического развития, промышленности и торговли
                                            Калининградской области
                                        </p>
                                    </article>
                                </div>
                                <div class="columns__col columns__col--4">
                                    <article class="factoid-column factoid-column--full full-h">
                                        <h4 class="factoid-column__title factoid-column__title--small">
                                            Гусейнов <br> Виктор Эльдарович *
                                        </h4>
                                        <p class="factoid-column__text">
                                            Заместитель директора - руководитель Центра фонда "Фонд креативных индустрий
                                            "Креспектива"
                                        </p>
                                    </article>
                                </div>
                                <div class="columns__col columns__col--4">
                                    <article class="factoid-column factoid-column--full full-h">
                                        <h4 class="factoid-column__title factoid-column__title--small">
                                            Нижегородова <br> Светлана Борисовна *
                                        </h4>
                                        <p class="factoid-column__text">
                                            Уполномоченный по защите прав предпринимателей в Калининградской области
                                        </p>
                                    </article>
                                </div>
                                <!--<div class="columns__col columns__col--4">
                                    <article class="factoid-column factoid-column--full full-h">
                                        <h4 class="factoid-column__title factoid-column__title--small">
                                            Абрамова <br> Анастасия Александровна *
                                        </h4>
                                        <p class="factoid-column__text">
                                            Заместитель министра экономического развития, промышленности и торговли
                                            Калининградской области
                                        </p>
                                    </article>
                                </div>
                                <div class="columns__col columns__col--4">
                                    <article class="factoid-column factoid-column--full full-h">
                                        <h4 class="factoid-column__title factoid-column__title--small">
                                            Куклева <br> Мария Николаевна *
                                        </h4>
                                        <p class="factoid-column__text">
                                            Начальник департамента развития предпринимательства и торговли
                                            Министерства экономического развития, промышленности и
                                            торговли Калининградской области
                                        </p>
                                    </article>
                                </div>-->
                            </div>
                            <div class="text">
                                <p>
                                    * субъектом персональных данных разрешена обработка персональных данных неограниченным
                                    кругом лиц, запретов не установлено.
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="article-drop-card">
                    <div class="article-drop-card__header" tabindex="0">
                        <p class="article-drop-card__title">
                            Попечительский совет фонда ФМФ КО (МКК)
                        </p>
                        <svg class="icon-svg article-drop-card__icon">
                            <use xlink:href="./img/sprites/sprite.svg#drop-arrow"></use>
                        </svg>
                    </div>
                    <div class="article-drop-card__main">
                        <div class="article-drop-card__content">
                            <div class="text">
                                <p>
                                    Попечительский совет - орган, осуществляющий надзор за деятельностью фонда,
                                    принятия другими органами фонда решений и
                                    обеспечения их исполнения, использования средств фонда, соблюдения фондом
                                    законодательства.
                                </p>
                                <h4>
                                    Состав попечительского совета
                                </h4>
                            </div>
                            <div class="columns mb-50">
                                <div class="columns__col columns__col--4">
                                    <article class="factoid-column factoid-column--full full-h">
                                        <h4 class="factoid-column__title factoid-column__title--small">
                                            Газизов <br> Олег Вадимович *
                                        </h4>
                                        <p class="factoid-column__text">
                                            Председатель Калининградского регионального отделения Общероссийской
                                            общественной организации «Опора России»
                                        </p>
                                    </article>
                                </div>
                                <div class="columns__col columns__col--4">
                                    <article class="factoid-column factoid-column--full full-h">
                                        <h4 class="factoid-column__title factoid-column__title--small">
                                            Гракова <br> Ирина Николаевна *
                                        </h4>
                                        <p class="factoid-column__text">
                                            Заместитель министра экономического развития, промышленности и торговли
                                            Калининградской области
                                        </p>
                                    </article>
                                </div>
                                <div class="columns__col columns__col--4">
                                    <article class="factoid-column factoid-column--full full-h">
                                        <h4 class="factoid-column__title factoid-column__title--small">
                                            Мусин <br> Марат Эдманович *
                                        </h4>
                                        <p class="factoid-column__text">
                                            Генеральный директор общества с ограниченной ответственностью
                                            «КОРПОРАТИВНО-БАНКОВСКИЙ СЕРВИС-ГРУПП»
                                        </p>
                                    </article>
                                </div>
                            </div>
                            <div class="text">
                                <p>
                                    * субъектом персональных данных разрешена обработка персональных данных неограниченным
                                    кругом лиц, запретов не установлено.
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <h2 class="title mb-60 mbm-40 title--center">
                    <span class="title__text">Партнеры</span>
                </h2>
                <div class="columns">
                    <div class="columns__col columns__col--3">
                        <a href="https://minprom.gov39.ru/" class="article-partner">
                            <img src="/upload/iblock/225/8l9w1yxktuj3g2exexu4eh8hoyq3jhvx.png" alt="Партнер 6">
                        </a>
                    </div>
                    <div class="columns__col columns__col--3">
                        <a href="https://www.kgd-rdc.ru/" class="article-partner">
                            <img src="/upload/iblock/597/m9ntwdlcnpvdxi2do9324d6324he0jos.png" alt="Партнер 4">
                        </a>
                    </div>
                    <div class="columns__col columns__col--3">
                        <a href="https://gov39.ru/" class="article-partner">
                            <img src="/upload/iblock/228/dl54hh3p4vmky8gx6jyvnnhtz13z1t8i.png" alt="Партнер 3">
                        </a>
                    </div>
                    <div class="columns__col columns__col--3">
                        <a href="https://www.economy.gov.ru/" class="article-partner">
                            <img src="/upload/iblock/16f/klyxfvbbi3r4q3cubqtp8juts36cuk4l.png" alt="Партнер 5">
                        </a>
                    </div>
                    <div class="columns__col columns__col--3">
                        <a href="http://www.cbr.ru/" class="article-partner">
                            <img src="/upload/iblock/c78/8nypsvj0uyrpksu54xa3asc2hb0lbwzh.png" alt="Партнер 7">
                        </a>
                    </div>
                    <div class="columns__col columns__col--3">
                        <a href="https://www.cbr.ru/reception/" class="article-partner">
                            <img src="/upload/iblock/cce/00z4p3102lhfuiulae3e04xni72dzog1.png" alt="Партнер 8">
                        </a>
                    </div>
                    <div class="columns__col columns__col--3">
                        <a href="http://www.cbr.ru/registries/microfinance/?utm_source=w&amp;utm_content=page#a_14199" class="article-partner">
                            <img src="/upload/iblock/a8b/60c4b0tvwvg1yy4kik6pn5goduxa0oz8.png" alt="Партнер 9">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        @@include("../blocks/modules/1_map/map.html")
    </main>
    @@include("../blocks/modules/footer-m/footer-m.html")
</div>

@@include("../blocks/modules/m-menu/m-menu.html")

<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
</body>

</html>