<!DOCTYPE html>
<html lang="ru">

<head>
	<title>27. Услуги 3D прототипирования и 3D печати</title>
	@@include("../blocks/modules/head/head.html")
</head>

<body class="body body--light">
<div class="page">
	@@include("../blocks/modules/panel/panel.html")
	@@include("../blocks/modules/header/header.html")
	<main class="content page__content">
		<section class="section">
			<div class="container ui__container">
				<nav class="breadcrumbs">
					<a href="/" class="breadcrumbs__link">
						Главная
					</a>
					<svg class="icon-svg breadcrumbs__arrow">
						<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
					</svg>
					<a href="/" class="breadcrumbs__link">
						Меры поддержки
					</a>
					<svg class="icon-svg breadcrumbs__arrow">
						<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
					</svg>
					<span class="breadcrumbs__link breadcrumbs__link--static">
							Услуги 3D прототипирования и 3D печати
						</span>
				</nav>
				<h1 class="title title--line">
					<span class="title__text">Услуги 3D прототипирования и 3D печати</span>
				</h1>
				<article class="ill-card ill-card--padding ill-card--dark">
					<div class="ill-card__content text">
						<p>
							Современные технологии позволяют создать действительно стоящий продукт, не затрачивая
							много ресурсов на разработку. <b>3D-прототипирование</b> – это возможность изготовить
							объект по чертежу или математической модели в натуральную
							величину или масштабе, без потери основных функций конечного изделия. При использовании
							металлов, термопластов, полимерных смесей и композитов можно добиться высокого качества
							и функциональности, не прибегая к классическому производству.
						</p>
						<a href="#section-form" class="btn btn--60">
								<span>
									Подать заявку
								</span>
						</a>
					</div>
					<div class="image ill-card__thumb">
						<img src="./img/ill-3d.png" alt="" class="image__pict image__pict--large"
							 alt="Декоративная картинка">
						<figcaption class="image__discript" aria-hidden="true">Декоративная картинка</figcaption>
					</div>
				</article>
				<div class="columns columns--center">
					<div class="columns__col columns__col--4 mobile-hide">
						<div class="image">
							<img src="./img/img-decor-3d.jpg" alt="Декоративная картинка" class="image__pict">
							<figcaption class="image__discript" aria-hidden="true">Декоративная картинка
							</figcaption>
						</div>
					</div>
					<div class="columns__col columns__col--8">
						<div class="text">
							<p>
								<b>Прототипирование 3D-моделей</b> позволяет исключить риск неточности
								конструкторских и
								инженерных расчётов, и, следовательно, лишних затрат.
							</p>
							<p>
								Изготовление модели на <b>3D-принтере</b> из упрощенного материала (не являющегося
								конечным) или материала для серийного производства – это оптимальное решение при
								разработке продукта. Вы сможете
								протестировать образец, проверить его функциональные свойства и сборочное
								соответствие,
								провести презентацию, и исправить
								недочеты еще до запуска серийного производства.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="section section--dark">
			<div class="container">
				<div class="block-text text">
					<h3>
						Виды прототипов
					</h3>
					<p>
						Условно прототипы можно разделить на несколько видов:
					</p>
				</div>
				<div class="articles">
					<div class="articles__content">
						<div class="columns">
							<div class="columns__col columns__col--6">
								<article class="article-factoid-image">
									<div class="article-factoid-image__thumb">
										<img src="./img/fact-image-1.svg" alt="">
									</div>
									<div class="article-factoid-image__content">
										<h4 class="article-factoid-image__title">
											Промышленные
										</h4>
										<div class="article-factoid-image__content text">
											<p>
												создаются для крупных производственных предприятий (сборочные узлы,
												корпуса, детали и запчасти)
											</p>
										</div>
									</div>
								</article>
							</div>
							<div class="columns__col columns__col--6">
								<article class="article-factoid-image">
									<div class="article-factoid-image__thumb">
										<img src="./img/fact-image-2.svg" alt="">
									</div>
									<div class="article-factoid-image__content">
										<h4 class="article-factoid-image__title">
											Транспортные
										</h4>
										<div class="article-factoid-image__content text">
											<p>
												такие прототипы применяются в машиностроении, авиации, судостроении
												(от
												разработки до отдельных деталей или узлов
												наземного, водного и воздушного транспорта)
											</p>
										</div>
									</div>
								</article>
							</div>
							<div class="columns__col columns__col--6">
								<article class="article-factoid-image">
									<div class="article-factoid-image__thumb">
										<img src="./img/fact-image-3.svg" alt="">
									</div>
									<div class="article-factoid-image__content">
										<h4 class="article-factoid-image__title">
											Презентационные модели
										</h4>
										<div class="article-factoid-image__content text">
											<p>
												например, макет квартиры, здания или целого города, позволяют
												максимально четко передать проект с его архитектурными
												особенностями и дизайном интерьера
											</p>
										</div>
									</div>
								</article>
							</div>
							<div class="columns__col columns__col--6">
								<article class="article-factoid-image">
									<div class="article-factoid-image__thumb">
										<img src="./img/fact-image-4.svg" alt="">
									</div>
									<div class="article-factoid-image__content">
										<h4 class="article-factoid-image__title">
											Медицинские и стоматологические
										</h4>
										<div class="article-factoid-image__content text">
											<p>
												широко применяются при планировании индивидуальных и сложных
												хирургических операций, обучения студентов профильных
												вузов, а также для решения задач ортопедии, эндопротезировании,
												ортодонтии.
											</p>
										</div>
									</div>
								</article>
							</div>
							<div class="columns__col columns__col--6">
								<article class="article-factoid-image">
									<div class="article-factoid-image__thumb">
										<img src="./img/fact-image-5.png" alt="">
									</div>
									<div class="article-factoid-image__content">
										<h4 class="article-factoid-image__title">
											Товарные прототипы
										</h4>
										<div class="article-factoid-image__content text">
											<p>
												позволяют проработать формат будущего товара и его упаковки
											</p>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
					<div class="articles__control">
						<a href="" class="articles__btn btn btn--60">
							<span>Подать заявку</span>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--blue section--bg-cover"
				 style="background-image: url('./img/section-gradient-bg.svg')">
			<div class="container">
				<div class="text text--24">
					<p>
						Благодаря аддитивным технологиям можно создавать <b>прототипы</b> – объекты простой и
						сложной геометрической формы из различных материалов для использования в самых разных
						отраслях:
					</p>
				</div>
				<div class="columns">
					<div class="columns__col columns__col--3">
						<article class="article-factoid">
							<svg class="icon-svg article-factoid__icon">
								<use xlink:href="img/sprites/sprite.svg#icon-plane"></use>
							</svg>
							<h4 class="article-factoid__title">
								Авиация и<br>космос
							</h4>
						</article>
					</div>
					<div class="columns__col columns__col--3">
						<article class="article-factoid">
							<svg class="icon-svg article-factoid__icon">
								<use xlink:href="img/sprites/sprite.svg#icon-diamond"></use>
							</svg>
							<h4 class="article-factoid__title">
								Ювелирное<br>производство
							</h4>
						</article>
					</div>
					<div class="columns__col columns__col--3">
						<article class="article-factoid">
							<svg class="icon-svg article-factoid__icon">
								<use xlink:href="img/sprites/sprite.svg#icon-nuclear"></use>
							</svg>
							<h4 class="article-factoid__title">
								Атомная<br>промышленность
							</h4>
						</article>
					</div>
					<div class="columns__col columns__col--3">
						<article class="article-factoid">
							<svg class="icon-svg article-factoid__icon">
								<use xlink:href="img/sprites/sprite.svg#icon-oil"></use>
							</svg>
							<h4 class="article-factoid__title">
								Нефтегазовый<br>сектор
							</h4>
						</article>
					</div>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<div class="text">
					<h3>
						Роль 3D-принтеров
					</h3>
				</div>
				<div class="columns">
					<div class="columns__col columns__col--8">
						<div class="text">
							<p>
								Раньше объемные образцы изготавливали вручную, по чертежам. На это уходило много
								времени, но с появлением принтеров для трехмерной печати и современного ПО временные
								затраты свелись к минимуму. Принтер для <b>3D-печати</b> – устройство, позволяющее
								выводить трехмерные данные, послойно создавая на их основе физический объект (в
								нашем случае – <b>3D-печати</b>). Сборка ручным способом занимала недели и даже
								месяцы. Это существенно повышало затраты на разработку и могло отсрочить выпуск
								новой продукции, что также негативно могло сказаться на прибыли компании.
							</p>
							<p>
								Появилась <b>технология быстрого прототипирования</b> или <b>ТБП</b>, с помощью
								которой готовые образцы стало возможно получать за несколько дней, часов, а иногда и
								минут, в зависимости от детализации, размера, других факторов. Так, <b>ТБП</b> –
								технология, разделяющая создание <b>3D-образца</b> на несколько этапов:
							</p>
							<ul>
								<li>
									создание <b>3D-деталей</b> на одной из специализированных платформ и сохранение
									в удобном формате;
								</li>
								<li>
									печать на специализированном принтере, выводящем трехмерные данные.
								</li>
							</ul>
						</div>
					</div>
					<div class="columns__col columns__col--4">
						<div class="image">
							<img src="./img/3d-photo.png" alt="Декоративная картинка" class="image__pict">
							<figcaption class="image__discript" aria-hidden="true">Декоративная картинка
							</figcaption>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--blue section--bg-cover"
				 style="background-image: url('./img/section-gradient-bg.svg')">
			<div class="container">
				<div class="text">
					<h3>
						Этапы работы
					</h3>
				</div>
				<div class="columns">
					<div class="columns__col columns__col--5">
						<div class="text text--24">
							<p>
								3D-прототипирование позволяет произвести быстрый запуск производства за несколько
								основных этапов:
							</p>
						</div>
						<div class="image">
							<img src="./img/3d-photo-3.png" alt="Декоративная картинка" class="image__pict">
							<figcaption class="image__discript" aria-hidden="true">Декоративная картинка
							</figcaption>
						</div>
					</div>
					<div class="columns__col columns__col--7">
						<ol class="list-number">
							<li class="list-number__li">
								<div class="list-number__number">
									01.
								</div>
								<div class="list-number__content">
									<h4 class="list-number__title">
										Цифровая модель
									</h4>
									<div class="list-number__content text">
										<p>
											построение цифровой модели в формате трехмерной САПР
										</p>
									</div>
								</div>
							</li>
							<li class="list-number__li">
								<div class="list-number__number">
									02.
								</div>
								<div class="list-number__content">
									<h4 class="list-number__title">
										Прототип
									</h4>
									<div class="list-number__content text">
										<p>
											создание первого прототипа с помощью 3D-печати
										</p>
									</div>
								</div>
							</li>
							<li class="list-number__li">
								<div class="list-number__number">
									03.
								</div>
								<div class="list-number__content">
									<h4 class="list-number__title">
										Тестирование
									</h4>
									<div class="list-number__content text">
										<p>
											тестирование готового продукта, корректировки цифровой модели при
											необходимости
										</p>
									</div>
								</div>
							</li>
							<li class="list-number__li">
								<div class="list-number__number">
									04.
								</div>
								<div class="list-number__content">
									<h4 class="list-number__title">
										Тестовая партия
									</h4>
									<div class="list-number__content text">
										<p>
											изготовление тестовой (пилотной) партии изделий посредством 3D-печати
										</p>
									</div>
								</div>
							</li>
							<li class="list-number__li">
								<div class="list-number__number">
									05.
								</div>
								<div class="list-number__content">
									<h4 class="list-number__title">
										Запуск
									</h4>
									<div class="list-number__content text">
										<p>
											запуск полномасштабного производства
										</p>
									</div>
								</div>
							</li>
						</ol>
					</div>
				</div>
				<div class="text text--18">
					<p>
						Обладая <b>прототипом</b>, вы сможете оценить его внешний вид, эргономичность, и даже
						испытать функциональность. Чаще всего <b>прототипы</b> заказывают крупные машиностроительные
						и приборостроительные компании, разработчики инновационной продукции и дизайнеры,
						заинтересованные в скорейшем выпуске пластиковых и металлических изделий.
					</p>
				</div>
			</div>
		</section>
		<section class="section section--bottom" id="section-form">
			<div class="container">
				<div class="text">
					<h3>
						Инновационный инжиниринговый центр предоставляет услуги по 3D прототипированию и 3D печати
					</h3>
				</div>
				<div class="columns">
					<div class="columns__col columns__col--7">
						<div class="text">
							<p>
								Для получения услуги Вам необходимо направить <b>заполненную заявку</b> на
								электронную почту <b><a
								href="mailto:innovation@mbkaliningrad.ru">innovation@mbkaliningrad.ru</a></b>
								и специалисты центра подберут для вас оптимальный способ внедрения аддитивных
								технологий в производство!
							</p>
						</div>
						<a href="" target="_blank" class="link-card link-card--12">
							<div class="link-card__left">
								<p class="link-card__text">
									Заявка для получения услуги по 3D прототипированию, 3D печати
								</p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg">
									<use xlink:href="img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
										Скачать
									</span>
							</div>
						</a>
						<div class="text">
							<p>
								Порядок предоставления данной услуги Вы можете уточнить по телефону: <b><a
								href="tel:+74012994588">+7 (4012) 994-588 (доб.930)</a></b>
							</p>
						</div>
					</div>
					<div class="columns__col columns__col--5">
						<div class="image">
							<img src="./img/3d-photo-2.png" alt="Декоративная картинка" class="image__pict">
							<figcaption class="image__discript" aria-hidden="true">Декоративная картинка
							</figcaption>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	@@include("../blocks/modules/footer/footer.html")
</div>

@@include("../blocks/modules/m-menu/m-menu.html")

<script src="js/vendor.js"></script>
<script src="js/main.js"></script>
</body>

</html>