<!DOCTYPE html>
<html lang="ru">

<head>
	<title>30. Гранты</title>
	@@include("../blocks/modules/head/head.html")
</head>

<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/24-page-index.html" class="breadcrumbs__link">
							Микрофинансирование
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="/24-page-index.html" class="breadcrumbs__link">
							Меры поддержки
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="/24-page-index.html" class="breadcrumbs__link">
							Инжиниринг
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Как получить грант
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Как получить грант</span>
					</h2>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="text mb-45 mbm-35">
						<h4>
							Поддержка проектной деятельности
						</h4>
						<p>
							Фонд «Центр поддержки предпринимательства Калининградской области (микрокредитная компания)»
							является региональным представителем Фонда содействия инновациям, осуществляющего финансовое
							обеспечение проектов на основе договоров (контрактов), а также путем предоставления грантов
							физическим и юридическим лицам на финансовое обеспечение проектов, результаты которых имеют
							перспективу коммерциализации и реализуются субъектами малого инновационного
							предпринимательства.
						</p>
					</div>
					@@include("../blocks/modules/card-accent/card-accent.html")
					<h2 class="title title--center">
						<span class="title__text title__text--small">Список Грантов</span>
					</h2>
					<div class="articles">
						<div class="articles__content">
							<div class="columns">
								<div class="columns__col columns__col--3">
									<a href="#" class="card-ticket card-ticket--light">
										<div class="card-ticket__header">
											<h5 class="card-ticket__title">
												КОММЕРЦИАЛИЗАЦИЯ-ИИ
											</h5>
											<div class="card-ticket__tag">
												Очередь III
											</div>
										</div>

										<div class="card-ticket__main">
											<p class="card-ticket__info">
												приём заявок
											</p>
											<p class="card-ticket__time">
												до 14 марта 2022 г.
											</p>
										</div>
										<div class="card-ticket__footer">
											<span class="card-ticket__btn-text">
												подать заявку
											</span>
											<svg class="card-ticket__btn-icon" viewBox="0 0 25 25">
												<path
													class="card-ticket__color card-ticket__color--light card-ticket__color--hover-red"
													d="M25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5C0 5.59644 5.59644 0 12.5 0C19.4036 0 25 5.59644 25 12.5Z" />
												<path class="card-ticket__color card-ticket__color--red"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M12.5 24C18.8513 24 24 18.8513 24 12.5C24 6.14873 18.8513 1 12.5 1C6.14873 1 1 6.14873 1 12.5C1 18.8513 6.14873 24 12.5 24ZM12.5 25C19.4036 25 25 19.4036 25 12.5C25 5.59644 19.4036 0 12.5 0C5.59644 0 0 5.59644 0 12.5C0 19.4036 5.59644 25 12.5 25Z" />
												<path
													class="card-ticket__color card-ticket__color--red card-ticket__color--hover-light"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M10.2396 7.25435C10.5592 6.91522 11.0772 6.91522 11.3967 7.25435L15.7604 11.8859C16.0799 12.2251 16.0799 12.7749 15.7604 13.1141L11.3967 17.7456C11.0772 18.0848 10.5592 18.0848 10.2396 17.7456C9.92012 17.4065 9.92012 16.8567 10.2396 16.5175L14.0247 12.5L10.2396 8.48249C9.92012 8.14335 9.92012 7.59349 10.2396 7.25435Z" />
											</svg>
										</div>
									</a>
								</div>
								<div class="columns__col columns__col--3">
									<a href="#" class="card-ticket card-ticket--light">
										<div class="card-ticket__header">
											<h5 class="card-ticket__title">
												CТАРТ-1
											</h5>
											<div class="card-ticket__tag">
												Очередь III
											</div>
										</div>
										<div class="card-ticket__main">
											<p class="card-ticket__info">
												приём заявок
											</p>
											<p class="card-ticket__time">
												до 14 марта 2022 г.
											</p>
										</div>
										<div class="card-ticket__footer">
											<span class="card-ticket__btn-text">
												подать заявку
											</span>
											<svg class="card-ticket__btn-icon" viewBox="0 0 25 25">
												<path
													class="card-ticket__color card-ticket__color--light card-ticket__color--hover-red"
													d="M25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5C0 5.59644 5.59644 0 12.5 0C19.4036 0 25 5.59644 25 12.5Z" />
												<path class="card-ticket__color card-ticket__color--red"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M12.5 24C18.8513 24 24 18.8513 24 12.5C24 6.14873 18.8513 1 12.5 1C6.14873 1 1 6.14873 1 12.5C1 18.8513 6.14873 24 12.5 24ZM12.5 25C19.4036 25 25 19.4036 25 12.5C25 5.59644 19.4036 0 12.5 0C5.59644 0 0 5.59644 0 12.5C0 19.4036 5.59644 25 12.5 25Z" />
												<path
													class="card-ticket__color card-ticket__color--red card-ticket__color--hover-light"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M10.2396 7.25435C10.5592 6.91522 11.0772 6.91522 11.3967 7.25435L15.7604 11.8859C16.0799 12.2251 16.0799 12.7749 15.7604 13.1141L11.3967 17.7456C11.0772 18.0848 10.5592 18.0848 10.2396 17.7456C9.92012 17.4065 9.92012 16.8567 10.2396 16.5175L14.0247 12.5L10.2396 8.48249C9.92012 8.14335 9.92012 7.59349 10.2396 7.25435Z" />
											</svg>
										</div>
									</a>
								</div>
								<div class="columns__col columns__col--3">
									<a href="#" class="card-ticket card-ticket--light">
										<div class="card-ticket__header">
											<h5 class="card-ticket__title">
												РОССИЙСКО-ИНДИЙСКИЙ КОНКУРС
											</h5>
										</div>
										<div class="card-ticket__main">
											<p class="card-ticket__info">
												приём заявок
											</p>
											<p class="card-ticket__time">
												до 4 апреля 2022 г.
											</p>
										</div>
										<div class="card-ticket__footer">
											<span class="card-ticket__btn-text">
												подать заявку
											</span>
											<svg class="card-ticket__btn-icon" viewBox="0 0 25 25">
												<path
													class="card-ticket__color card-ticket__color--light card-ticket__color--hover-red"
													d="M25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5C0 5.59644 5.59644 0 12.5 0C19.4036 0 25 5.59644 25 12.5Z" />
												<path class="card-ticket__color card-ticket__color--red"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M12.5 24C18.8513 24 24 18.8513 24 12.5C24 6.14873 18.8513 1 12.5 1C6.14873 1 1 6.14873 1 12.5C1 18.8513 6.14873 24 12.5 24ZM12.5 25C19.4036 25 25 19.4036 25 12.5C25 5.59644 19.4036 0 12.5 0C5.59644 0 0 5.59644 0 12.5C0 19.4036 5.59644 25 12.5 25Z" />
												<path
													class="card-ticket__color card-ticket__color--red card-ticket__color--hover-light"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M10.2396 7.25435C10.5592 6.91522 11.0772 6.91522 11.3967 7.25435L15.7604 11.8859C16.0799 12.2251 16.0799 12.7749 15.7604 13.1141L11.3967 17.7456C11.0772 18.0848 10.5592 18.0848 10.2396 17.7456C9.92012 17.4065 9.92012 16.8567 10.2396 16.5175L14.0247 12.5L10.2396 8.48249C9.92012 8.14335 9.92012 7.59349 10.2396 7.25435Z" />
											</svg>
										</div>
									</a>
								</div>
								<div class="columns__col columns__col--3">
									<a href="#" class="card-ticket card-ticket--light">
										<div class="card-ticket__header">
											<h5 class="card-ticket__title">
												IRA-SME
											</h5>
										</div>
										<div class="card-ticket__main">
											<p class="card-ticket__info">
												приём заявок
											</p>
											<p class="card-ticket__time">
												до 11 апреля 2022 г.
											</p>
										</div>
										<div class="card-ticket__footer">
											<span class="card-ticket__btn-text">
												подать заявку
											</span>
											<svg class="card-ticket__btn-icon" viewBox="0 0 25 25">
												<path
													class="card-ticket__color card-ticket__color--light card-ticket__color--hover-red"
													d="M25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5C0 5.59644 5.59644 0 12.5 0C19.4036 0 25 5.59644 25 12.5Z" />
												<path class="card-ticket__color card-ticket__color--red"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M12.5 24C18.8513 24 24 18.8513 24 12.5C24 6.14873 18.8513 1 12.5 1C6.14873 1 1 6.14873 1 12.5C1 18.8513 6.14873 24 12.5 24ZM12.5 25C19.4036 25 25 19.4036 25 12.5C25 5.59644 19.4036 0 12.5 0C5.59644 0 0 5.59644 0 12.5C0 19.4036 5.59644 25 12.5 25Z" />
												<path
													class="card-ticket__color card-ticket__color--red card-ticket__color--hover-light"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M10.2396 7.25435C10.5592 6.91522 11.0772 6.91522 11.3967 7.25435L15.7604 11.8859C16.0799 12.2251 16.0799 12.7749 15.7604 13.1141L11.3967 17.7456C11.0772 18.0848 10.5592 18.0848 10.2396 17.7456C9.92012 17.4065 9.92012 16.8567 10.2396 16.5175L14.0247 12.5L10.2396 8.48249C9.92012 8.14335 9.92012 7.59349 10.2396 7.25435Z" />
											</svg>
										</div>
									</a>
								</div>
								<div class="columns__col columns__col--3">
									<a href="#" class="card-ticket card-ticket--light">
										<div class="card-ticket__header">
											<h5 class="card-ticket__title">
												СТУДЕНЧЕСКИЙ СТАРТАП
											</h5>
										</div>
										<div class="card-ticket__main">
											<p class="card-ticket__info">
												приём заявок
											</p>
											<p class="card-ticket__time">
												до 11 апреля 2022 г.
											</p>
										</div>
										<div class="card-ticket__footer">
											<span class="card-ticket__btn-text">
												подать заявку
											</span>
											<svg class="card-ticket__btn-icon" viewBox="0 0 25 25">
												<path
													class="card-ticket__color card-ticket__color--light card-ticket__color--hover-red"
													d="M25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5C0 5.59644 5.59644 0 12.5 0C19.4036 0 25 5.59644 25 12.5Z" />
												<path class="card-ticket__color card-ticket__color--red"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M12.5 24C18.8513 24 24 18.8513 24 12.5C24 6.14873 18.8513 1 12.5 1C6.14873 1 1 6.14873 1 12.5C1 18.8513 6.14873 24 12.5 24ZM12.5 25C19.4036 25 25 19.4036 25 12.5C25 5.59644 19.4036 0 12.5 0C5.59644 0 0 5.59644 0 12.5C0 19.4036 5.59644 25 12.5 25Z" />
												<path
													class="card-ticket__color card-ticket__color--red card-ticket__color--hover-light"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M10.2396 7.25435C10.5592 6.91522 11.0772 6.91522 11.3967 7.25435L15.7604 11.8859C16.0799 12.2251 16.0799 12.7749 15.7604 13.1141L11.3967 17.7456C11.0772 18.0848 10.5592 18.0848 10.2396 17.7456C9.92012 17.4065 9.92012 16.8567 10.2396 16.5175L14.0247 12.5L10.2396 8.48249C9.92012 8.14335 9.92012 7.59349 10.2396 7.25435Z" />
											</svg>
										</div>
									</a>
								</div>
								<div class="columns__col columns__col--3">
									<a href="#" class="card-ticket card-ticket--light">
										<div class="card-ticket__header">
											<h5 class="card-ticket__title">
												РАЗВИТИЕ-ИИ
											</h5>
										</div>
										<div class="card-ticket__main">
											<p class="card-ticket__info">
												приём заявок
											</p>
											<p class="card-ticket__time">
												до 25 апреля 2022 г.
											</p>
										</div>
										<div class="card-ticket__footer">
											<span class="card-ticket__btn-text">
												подать заявку
											</span>
											<svg class="card-ticket__btn-icon" viewBox="0 0 25 25">
												<path
													class="card-ticket__color card-ticket__color--light card-ticket__color--hover-red"
													d="M25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5C0 5.59644 5.59644 0 12.5 0C19.4036 0 25 5.59644 25 12.5Z" />
												<path class="card-ticket__color card-ticket__color--red"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M12.5 24C18.8513 24 24 18.8513 24 12.5C24 6.14873 18.8513 1 12.5 1C6.14873 1 1 6.14873 1 12.5C1 18.8513 6.14873 24 12.5 24ZM12.5 25C19.4036 25 25 19.4036 25 12.5C25 5.59644 19.4036 0 12.5 0C5.59644 0 0 5.59644 0 12.5C0 19.4036 5.59644 25 12.5 25Z" />
												<path
													class="card-ticket__color card-ticket__color--red card-ticket__color--hover-light"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M10.2396 7.25435C10.5592 6.91522 11.0772 6.91522 11.3967 7.25435L15.7604 11.8859C16.0799 12.2251 16.0799 12.7749 15.7604 13.1141L11.3967 17.7456C11.0772 18.0848 10.5592 18.0848 10.2396 17.7456C9.92012 17.4065 9.92012 16.8567 10.2396 16.5175L14.0247 12.5L10.2396 8.48249C9.92012 8.14335 9.92012 7.59349 10.2396 7.25435Z" />
											</svg>
										</div>
									</a>
								</div>
								<div class="columns__col columns__col--3">
									<a href="#" class="card-ticket card-ticket--light">
										<div class="card-ticket__header">
											<h5 class="card-ticket__title">
												СТАРТ-ИИ-1
											</h5>
										</div>
										<div class="card-ticket__main">
											<p class="card-ticket__info">
												приём заявок
											</p>
											<p class="card-ticket__time">
												до 16 мая 2022 г.
											</p>
										</div>
										<div class="card-ticket__footer">
											<span class="card-ticket__btn-text">
												подать заявку
											</span>
											<svg class="card-ticket__btn-icon" viewBox="0 0 25 25">
												<path
													class="card-ticket__color card-ticket__color--light card-ticket__color--hover-red"
													d="M25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5C0 5.59644 5.59644 0 12.5 0C19.4036 0 25 5.59644 25 12.5Z" />
												<path class="card-ticket__color card-ticket__color--red"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M12.5 24C18.8513 24 24 18.8513 24 12.5C24 6.14873 18.8513 1 12.5 1C6.14873 1 1 6.14873 1 12.5C1 18.8513 6.14873 24 12.5 24ZM12.5 25C19.4036 25 25 19.4036 25 12.5C25 5.59644 19.4036 0 12.5 0C5.59644 0 0 5.59644 0 12.5C0 19.4036 5.59644 25 12.5 25Z" />
												<path
													class="card-ticket__color card-ticket__color--red card-ticket__color--hover-light"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M10.2396 7.25435C10.5592 6.91522 11.0772 6.91522 11.3967 7.25435L15.7604 11.8859C16.0799 12.2251 16.0799 12.7749 15.7604 13.1141L11.3967 17.7456C11.0772 18.0848 10.5592 18.0848 10.2396 17.7456C9.92012 17.4065 9.92012 16.8567 10.2396 16.5175L14.0247 12.5L10.2396 8.48249C9.92012 8.14335 9.92012 7.59349 10.2396 7.25435Z" />
											</svg>
										</div>
									</a>
								</div>
								<div class="columns__col columns__col--3">
									<a href="#" class="card-ticket card-ticket--light">
										<div class="card-ticket__header">
											<h5 class="card-ticket__title">
												СТАРТ-ИИ-2
											</h5>
										</div>
										<div class="card-ticket__main">
											<p class="card-ticket__info">
												приём заявок
											</p>
											<p class="card-ticket__time">
												до 23 мая 2022 г.
											</p>
										</div>
										<div class="card-ticket__footer">
											<span class="card-ticket__btn-text">
												подать заявку
											</span>
											<svg class="card-ticket__btn-icon" viewBox="0 0 25 25">
												<path
													class="card-ticket__color card-ticket__color--light card-ticket__color--hover-red"
													d="M25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5C0 5.59644 5.59644 0 12.5 0C19.4036 0 25 5.59644 25 12.5Z" />
												<path class="card-ticket__color card-ticket__color--red"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M12.5 24C18.8513 24 24 18.8513 24 12.5C24 6.14873 18.8513 1 12.5 1C6.14873 1 1 6.14873 1 12.5C1 18.8513 6.14873 24 12.5 24ZM12.5 25C19.4036 25 25 19.4036 25 12.5C25 5.59644 19.4036 0 12.5 0C5.59644 0 0 5.59644 0 12.5C0 19.4036 5.59644 25 12.5 25Z" />
												<path
													class="card-ticket__color card-ticket__color--red card-ticket__color--hover-light"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M10.2396 7.25435C10.5592 6.91522 11.0772 6.91522 11.3967 7.25435L15.7604 11.8859C16.0799 12.2251 16.0799 12.7749 15.7604 13.1141L11.3967 17.7456C11.0772 18.0848 10.5592 18.0848 10.2396 17.7456C9.92012 17.4065 9.92012 16.8567 10.2396 16.5175L14.0247 12.5L10.2396 8.48249C9.92012 8.14335 9.92012 7.59349 10.2396 7.25435Z" />
											</svg>
										</div>
									</a>
								</div>
								<div class="columns__col columns__col--3">
									<a href="#" class="card-ticket card-ticket--light">
										<div class="card-ticket__header">
											<h5 class="card-ticket__title">
												КОД-ИИ
											</h5>
										</div>
										<div class="card-ticket__main">
											<p class="card-ticket__info">
												приём заявок
											</p>
											<p class="card-ticket__time">
												до 30 мая 2022 г.
											</p>
										</div>
										<div class="card-ticket__footer">
											<span class="card-ticket__btn-text">
												подать заявку
											</span>
											<svg class="card-ticket__btn-icon" viewBox="0 0 25 25">
												<path
													class="card-ticket__color card-ticket__color--light card-ticket__color--hover-red"
													d="M25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5C0 5.59644 5.59644 0 12.5 0C19.4036 0 25 5.59644 25 12.5Z" />
												<path class="card-ticket__color card-ticket__color--red"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M12.5 24C18.8513 24 24 18.8513 24 12.5C24 6.14873 18.8513 1 12.5 1C6.14873 1 1 6.14873 1 12.5C1 18.8513 6.14873 24 12.5 24ZM12.5 25C19.4036 25 25 19.4036 25 12.5C25 5.59644 19.4036 0 12.5 0C5.59644 0 0 5.59644 0 12.5C0 19.4036 5.59644 25 12.5 25Z" />
												<path
													class="card-ticket__color card-ticket__color--red card-ticket__color--hover-light"
													fill-rule="evenodd" clip-rule="evenodd"
													d="M10.2396 7.25435C10.5592 6.91522 11.0772 6.91522 11.3967 7.25435L15.7604 11.8859C16.0799 12.2251 16.0799 12.7749 15.7604 13.1141L11.3967 17.7456C11.0772 18.0848 10.5592 18.0848 10.2396 17.7456C9.92012 17.4065 9.92012 16.8567 10.2396 16.5175L14.0247 12.5L10.2396 8.48249C9.92012 8.14335 9.92012 7.59349 10.2396 7.25435Z" />
											</svg>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<h2 class="title title--line">
						<span class="title__text title__text--small">Истории успеха</span>
					</h2>
					<div class="articles mb-100 mbm-60">
						<div class="articles__content">
							<a href="" class="hide-bg article article--4"
								style="background-image: url('https://via.placeholder.com/1200x1200.png');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Бизнес-миссия в Индию
									</h3>
									<!-- Обрежь по количеству символов, чтобы на 4-5 строк в узкой новости -->
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в
										центре поддержки
										экспорта Калининградской области приглашает принять участие в
									</p>
								</div>

							</a>
							<a href="" class="hide-bg article article--8"
								style="background-image: url('https://via.placeholder.com/1200x1200.png');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Открыт прием заявок на конкурс РФРИТ среди проектов в сфере IT
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в
										центре поддержки
										экспорта Калининградской области приглашает принять участие в
									</p>
								</div>

							</a>
							<a href="" class="hide-bg article article--8"
								style="background-image: url('https://via.placeholder.com/1200x1200.png');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										«МетролЭкспо-2020»
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в
										центре поддержки
										экспорта Калининградской области приглашает принять участие в
									</p>
								</div>

							</a>
							<a href="" class="hide-bg article article--4"
								style="background-image: url('https://via.placeholder.com/1200x1200.png');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Калининградцев приглашают принять участие в выборе талисмана Всероссийской
										переписи – 2020
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в
										центре поддержки
										экспорта Калининградской области приглашает принять участие в
									</p>
								</div>

							</a>
						</div>
					</div>
					<h3 class="title">
						<span class="title__text title__text--small">Контакты</span>
					</h3>
					<div class="columns">
						<div class="columns__col columns__col--6">
							<a href="" class="link-contact">
								<svg class="link-contact__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-circle-call"></use>
								</svg>
								<span class="link-contact__text">
									+7 (4012) 99-45-88 <b>доб. 962</b>
								</span>
							</a>
						</div>
						<div class="columns__col columns__col--6">
							<a href="" class="link-contact">
								<svg class="link-contact__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-circle-mail"></use>
								</svg>
								<span class="link-contact__text">
									innovation@mbkaliningrad.ru
								</span>
							</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>

</html>