<!DOCTYPE html>
<html lang="ru">

<head>
	<title>30. Гранты</title>
	@@include("../blocks/modules/head/head.html")
</head>

<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/24-page-index.html" class="breadcrumbs__link">
							Микрофинансирование
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="/24-page-index.html" class="breadcrumbs__link">
							Меры поддержки
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="/24-page-index.html" class="breadcrumbs__link">
							Инжиниринг
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Программы для самозанятых
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">
							Финансовая поддержка на приобретение услуг в области инжиниринга
						</span>
					</h2>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="text">
						<p>
							Центр поддержки предпринимательства предоставляет финансовую поддержку на приобретение услуг
							в области инжиниринга.
						</p>
					</div>
					<article class="card-marker card-marker--skinny">
						<svg class="card-marker__icon">
							<use xlink:href="img/sprites/sprite.svg#icon-finance"></use>
						</svg>
						<div class="card-marker__content card-marker__content--no-padding text text--grey text--14">
							<h4>
								до 2 000 000 рублей (50% от стоимости услуг)*
							</h4>
							<p>
								сумма финансовой поддержки
							</p>
							<h4>
								на приобретение услуг в области инжиниринга у юридических лиц**
							</h4>
						</div>
					</article>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="text mb-100">
						<h4>
							Виды услуг:
						</h4>
						<ul>
							<li>опытно-конструкторские работы по созданию промышленных образцов новой продукции;</li>
							<li>инженерно-исследовательские услуги по разработке и внедрению технологических процессов;
							</li>
							<li>инженерно-исследовательские услуги по восстановлению информации о продукции, системах
								или
								процессах с помощью методов обратной разработки</li>
						</ul>
						<div class="hr"></div>
						<h4>
							Получатели финансовой поддержки
						</h4>
						<p>
							субъекты МСП, зарегистрированные и осуществляющие деятельность на территории Калининградской
							области
						</p>
						<div class="hr"></div>
						<h4>
							Иные условия
						</h4>
						<p>
							Средства финансовой поддержки должны быть израсходованы до конца года, в котором они
							предоставлены.
						</p>
						<p>
							Объявление о проведении конкурса и приеме заявок Центр поддержки предпринимательства
							размещает
							на официальном сайте <a href="https://mbkaliningrad.ru/">mbkaliningrad.ru</a>
						</p>
						<div class="hr"></div>
						<p>
							*финансирование предоставляется субъектам МСП по результатам конкурсного отбора в размере,
							не превышающем 50% от их затрат (но не более 2 млн. рублей)
						</p>
						<p>
							**юридические лица, зарегистрированные на территории Калининградской области и имеющие
							основной или дополнительный код ОКВЭД 71.12 «Деятельность в области инженерных изысканий,
							инженерно-технического проектирования, управления проектами строительства, выполнения
							строительного контроля и авторского надзора, предоставление технических консультаций в этих
							областях»
						</p>
					</div>
					<h2 class="title mb-60 mbm-45">
						<span class="title__text title__text--small">Документы</span>
					</h2>
					<div class="columns mb-100 mbm-75">
						<div class="columns__col columns__col--6">
							<a href="" target="_blank" class="link-card">
								<div class="link-card__left">
									<p class="link-card__text">
										Ultricies turpis neque praesent nec nunc.
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card">
										</use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
						<div class="columns__col columns__col--6">
							<a href="" target="_blank" class="link-card">
								<div class="link-card__left">
									<p class="link-card__text">
										Ultricies turpis neque praesent nec nunc.
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card">
										</use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
					<h2 class="title mb-60 mbm-40">
						<span class="title__text title__text--small">Успешные проекты</span>
					</h2>
					<div class="columns mb-100 mbm-70">
						<div class="columns__col columns__col--7">
							<div class="image">
								<img class="image__pict image__pict--contain" src="./img/best-projects.jpg"
									alt="Успешные проекты">
								<figcaption class="image__discript" aria-hidden="true">
									Успешные проекты
								</figcaption>
							</div>
						</div>
						<div class="columns__col columns__col--5">
							<div class="text">
								<p>
									<b>Финансовая мера поддержки на приобретение услуг в области инжиниринга</b>
									реализуется с
									2020 года. Фактически Фонд финансирует проекты в области инжиниринга в размере 50%
									стоимости проекта, но не более 2 млн. руб.
								</p>
								<p>
									С 2020 года мы смогли поддержать 23 проекта из различных сфер экономики. Мы говорим
									и о
									поддержке металлообрабатывающих производств и даже молочных ферм, где удалось
									практически полностью автоматизировать забор молока и подачу кормов.
								</p>
								<p>
									При этом отметим, что финансирование в размере 50% является безвозвратным, что
									значительно снижает финансовую нагрузку на малый и средний бизнес при получении
									дорогостоящих услуг в области инжиниринга.
								</p>
							</div>
						</div>
					</div>
					<div class="slider-articles mb-80 mbm-60">
						<div class="toolbar toolbar--end mb-40 mobile-hide">
							<button class="button-toolbar button-toolbar--prev">
								<svg class="button-toolbar__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-arrow-toobar-left"></use>
								</svg>
							</button>
							<button class="button-toolbar button-toolbar--next">
								<svg class="button-toolbar__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-arrow-toobar-right"></use>
								</svg>
							</button>
						</div>
						<div class="swiper-container slider-articles__container">
							<div class="swiper-wrapper slider-articles__wrapper">
								<div class="swiper-slide slider-articles__item">
									@@include("../blocks/modules/article-partner/article-partner.html")
								</div>
								<div class="swiper-slide slider-articles__item">
									@@include("../blocks/modules/article-partner/article-partner.html")
								</div>
								<div class="swiper-slide slider-articles__item">
									@@include("../blocks/modules/article-partner/article-partner.html")
								</div>
								<div class="swiper-slide slider-articles__item">
									@@include("../blocks/modules/article-partner/article-partner.html")
								</div>
								<div class="swiper-slide slider-articles__item">
									@@include("../blocks/modules/article-partner/article-partner.html")
								</div>
								<div class="swiper-slide slider-articles__item">
									@@include("../blocks/modules/article-partner/article-partner.html")
								</div>
								<div class="swiper-slide slider-articles__item">
									@@include("../blocks/modules/article-partner/article-partner.html")
								</div>
								<div class="swiper-slide slider-articles__item">
									@@include("../blocks/modules/article-partner/article-partner.html")
								</div>
							</div>
							<div class="slider-articles__toolbar">
								<button class="button-toolbar button-toolbar--prev" data-slider-articles-button="prev">
									<svg class="button-toolbar__icon">
										<use xlink:href="img/sprites/sprite.svg#icon-arrow-toobar-left"></use>
									</svg>
								</button>
								<button class="button-toolbar button-toolbar--next" data-slider-articles-button="next">
									<svg class="button-toolbar__icon">
										<use xlink:href="img/sprites/sprite.svg#icon-arrow-toobar-right"></use>
									</svg>
								</button>
							</div>
						</div>
					</div>

					<div class="slider-gallery mb-80 mbm-60">
						<div class="toolbar toolbar--between mb-40">
							<div class="toolbar__text text grow">
								<h3>
									Фотогалерея компаний
								</h3>
								<p>
									кто получил нашу поддержку
								</p>
							</div>
							<button class="button-toolbar button-toolbar--prev mobile-hide">
								<svg class="button-toolbar__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-arrow-toobar-left"></use>
								</svg>
							</button>
							<button class="button-toolbar button-toolbar--next mobile-hide">
								<svg class="button-toolbar__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-arrow-toobar-right"></use>
								</svg>
							</button>
						</div>
						<div class="swiper-container slider-gallery__container">
							<div class="swiper-wrapper slider-gallery__wrapper">
								<div class="swiper-slide slider-gallery__item">
									<div class="image">
										<img class="image__pict image__pict--contain" src="./img/best-projects.jpg"
											alt="Успешные проекты">
										<figcaption class="image__discript" aria-hidden="true">
											Успешные проекты
										</figcaption>
									</div>
								</div>
								<div class="swiper-slide slider-gallery__item">
									<div class="image">
										<img class="image__pict image__pict--contain" src="./img/best-projects.jpg"
											alt="Успешные проекты">
										<figcaption class="image__discript" aria-hidden="true">
											Успешные проекты
										</figcaption>
									</div>
								</div>
								<div class="swiper-slide slider-gallery__item">
									<div class="image">
										<img class="image__pict image__pict--contain" src="./img/best-projects.jpg"
											alt="Успешные проекты">
										<figcaption class="image__discript" aria-hidden="true">
											Успешные проекты
										</figcaption>
									</div>
								</div>
								<div class="swiper-slide slider-gallery__item">
									<div class="image">
										<img class="image__pict image__pict--contain" src="./img/best-projects.jpg"
											alt="Успешные проекты">
										<figcaption class="image__discript" aria-hidden="true">
											Успешные проекты
										</figcaption>
									</div>
								</div>
								<div class="swiper-slide slider-gallery__item">
									<div class="image">
										<img class="image__pict image__pict--contain" src="./img/best-projects.jpg"
											alt="Успешные проекты">
										<figcaption class="image__discript" aria-hidden="true">
											Успешные проекты
										</figcaption>
									</div>
								</div>
								<div class="swiper-slide slider-gallery__item">
									<div class="image">
										<img class="image__pict image__pict--contain" src="./img/best-projects.jpg"
											alt="Успешные проекты">
										<figcaption class="image__discript" aria-hidden="true">
											Успешные проекты
										</figcaption>
									</div>
								</div>
								<div class="swiper-slide slider-gallery__item">
									<div class="image">
										<img class="image__pict image__pict--contain" src="./img/best-projects.jpg"
											alt="Успешные проекты">
										<figcaption class="image__discript" aria-hidden="true">
											Успешные проекты
										</figcaption>
									</div>
								</div>
								<div class="swiper-slide slider-gallery__item">
									<div class="image">
										<img class="image__pict image__pict--contain" src="./img/best-projects.jpg"
											alt="Успешные проекты">
										<figcaption class="image__discript" aria-hidden="true">
											Успешные проекты
										</figcaption>
									</div>
								</div>
							</div>
							<div class="swiper-pagination slider-gallery__pagination"></div>
						</div>
					</div>

					<!--  -->
					<h2 class="title title--line">
						<span class="title__text title__text--small">Истории успеха</span>
					</h2>
					<div class="articles mb-100 mbm-70">
						<div class="articles__content">
							<a href="" class="hide-bg article article--4"
								style="background-image: url('https://via.placeholder.com/1200x1200.png');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Бизнес-миссия в Индию
									</h3>
									<!-- Обрежь по количеству символов, чтобы на 4-5 строк в узкой новости -->
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в
										центре поддержки
										экспорта Калининградской области приглашает принять участие в
									</p>
								</div>

							</a>
							<a href="" class="hide-bg article article--4"
								style="background-image: url('https://via.placeholder.com/1200x1200.png');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Открыт прием заявок на конкурс РФРИТ среди проектов в сфере IT
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в
										центре поддержки
										экспорта Калининградской области приглашает принять участие в
									</p>
								</div>

							</a>
							<a href="" class="hide-bg article article--4"
								style="background-image: url('https://via.placeholder.com/1200x1200.png');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										«МетролЭкспо-2020»
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в
										центре поддержки
										экспорта Калининградской области приглашает принять участие в
									</p>
								</div>

							</a>
						</div>
					</div>
					<h2 class="title mb-60 mbm-40">
						<span class="title__text title__text--small">Контакты</span>
					</h2>
					<div class="columns">
						<div class="columns__col columns__col--6 mbm-30">
							<a href="" class="link-contact">
								<svg class="link-contact__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-circle-call"></use>
								</svg>
								<span class="link-contact__text">
									+7 (4012) 99-45-88 <b>доб. 962</b>
								</span>
							</a>
						</div>
						<div class="columns__col columns__col--6 mbm-30">
							<a href="" class="link-contact">
								<svg class="link-contact__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-circle-mail"></use>
								</svg>
								<span class="link-contact__text">
									innovation@mbkaliningrad.ru
								</span>
							</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>

</html>