<!DOCTYPE html>
<html lang="ru">
<head>
	<title>5. Документы фонда</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
<div class="page">
	@@include("../blocks/modules/panel/panel.html")
	@@include("../blocks/modules/header/header.html")
	<main class="content page__content">
		<section class="section">
			<div class="container ui__container">
				<nav class="breadcrumbs">
					<a href="/" class="breadcrumbs__link">
						Главная
					</a>
					<svg class="icon-svg breadcrumbs__arrow">
						<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
					</svg>
					<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
					<svg class="icon-svg breadcrumbs__arrow">
						<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
					</svg>
					<span class="breadcrumbs__link breadcrumbs__link--static">
							Документы фонда
						</span>
				</nav>
				<h2 class="title title--line">
					<span class="title__text">Документы фонда</span>
				</h2>
			</div>
		</section>
		<section class="section section--dark">
			<div class="container">
				<div class="articles">
					<div class="articles__content">
						<article class="drop-card">
							<div class="drop-card__header" tabindex="0">
								<p class="drop-card__title">
									Учредительные документы
								</p>
								<svg class="icon-svg drop-card__icon">
									<use xlink:href="./img/sprites/sprite.svg#drop-arrow"></use>
								</svg>
							</div>
							<div class="drop-card__main">
								<div class="drop-card__content">
									<div class="articles">
										<div class="articles__content">
											<a href="/about/docs/files/prikaz-ob-utverzhdenii-ustava-fonda.tif"
											   target="_blank" class="link-card link-card--light link-card--6">
												<div class="link-card__left">
													<p class="link-card__text">
														Приказ об утверждении устава фонда
													</p>
												</div>
												<div class="link-card__right">
													<svg class="icon-svg none-image">
														<use xlink:href="./img/sprites/sprite.svg#link-card">
														</use>
													</svg>
													<span class="link-card__discript">Скачать</span>
												</div>
											</a>
											<a href="/about/docs/files/svidetelstvo-inn-fond-cpp-ko.pdf" target="_blank"
											   class="link-card link-card--light link-card--6">
												<div class="link-card__left">
													<p class="link-card__text">
														Свидетельство ИНН фонд ЦПП КО
													</p>
												</div>
												<div class="link-card__right">
													<svg class="icon-svg none-image">
														<use xlink:href="./img/sprites/sprite.svg#link-card">
														</use>
													</svg>
													<span class="link-card__discript">Скачать</span>
												</div>
											</a>
											<a href="/about/docs/files/svidetelstvo-o-registracii-fond-cpp-ko.pdf"
											   target="_blank" class="link-card link-card--light link-card--6">
												<div class="link-card__left">
													<p class="link-card__text">
														Свидетельство о регистрации фонд ЦПП КО
													</p>
												</div>
												<div class="link-card__right">
													<svg class="icon-svg none-image">
														<use xlink:href="./img/sprites/sprite.svg#link-card">
														</use>
													</svg>
													<span class="link-card__discript">Скачать</span>
												</div>
											</a>
											<a href="/about/docs/files/cpp-2022.pdf" target="_blank"
											   class="link-card link-card--light link-card--6">
												<div class="link-card__left">
													<p class="link-card__text">
														Устав ЦПП КО
													</p>
												</div>
												<div class="link-card__right">
													<svg class="icon-svg none-image">
														<use xlink:href="./img/sprites/sprite.svg#link-card">
														</use>
													</svg>
													<span class="link-card__discript">Скачать</span>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</article>
						<article class="drop-card">
							<div class="drop-card__header" tabindex="0">
								<p class="drop-card__title">
									Отчетность и нормативные документы
								</p>
								<svg class="icon-svg drop-card__icon">
									<use xlink:href="./img/sprites/sprite.svg#drop-arrow"></use>
								</svg>
							</div>
							<div class="drop-card__main">
								<div class="drop-card__content">
									<div class="articles">
										<div class="articles__content">
											<a href="/about/docs/files/otchet-po-forme-on0001-cpp.pdf" target="_blank"
											   class="link-card link-card--light link-card--6">
												<div class="link-card__left">
													<p class="link-card__text">
														Отчет по форме ОН0001 ЦПП 2021 год
													</p>
												</div>
												<div class="link-card__right">
													<svg class="icon-svg none-image">
														<use xlink:href="./img/sprites/sprite.svg#link-card">
														</use>
													</svg>
													<span class="link-card__discript">Скачать</span>
												</div>
											</a>
											<a href="/about/docs/files/otchet-po-forme-on-0002-cpp.pdf" target="_blank"
											   class="link-card link-card--light link-card--6">
												<div class="link-card__left">
													<p class="link-card__text">
														Отчет по форме ОН 0002 ЦПП 2021 год
													</p>
												</div>
												<div class="link-card__right">
													<svg class="icon-svg none-image">
														<use xlink:href="./img/sprites/sprite.svg#link-card">
														</use>
													</svg>
													<span class="link-card__discript">Скачать</span>
												</div>
											</a>
											<a href="/about/docs/files/politika-obrabotka-i-zashchity-personalnyh-dannyh.pdf"
											   target="_blank" class="link-card link-card--light link-card--6">
												<div class="link-card__left">
													<p class="link-card__text">
														Политика обработка и защиты персональных данных
													</p>
												</div>
												<div class="link-card__right">
													<svg class="icon-svg none-image">
														<use xlink:href="./img/sprites/sprite.svg#link-card">
														</use>
													</svg>
													<span class="link-card__discript">Скачать</span>
												</div>
											</a>
											<a href="/about/docs/files/polozhenie-ob-obrabotke-i-zashchite-personalnyh-dannyh-klientov-fonda-cpp-ko.pdf"
											   target="_blank" class="link-card link-card--light link-card--6">
												<div class="link-card__left">
													<p class="link-card__text">
														Положение об обработке и защите персональных данных клиентов
														фонда ЦПП
														КО
													</p>
												</div>
												<div class="link-card__right">
													<svg class="icon-svg none-image">
														<use xlink:href="./img/sprites/sprite.svg#link-card">
														</use>
													</svg>
													<span class="link-card__discript">Скачать</span>
												</div>
											</a>
											<a href="/about/docs/files/forma-soglasiya-na-obrabotku-personalnyh-dannyh.pdf"
											   target="_blank" class="link-card link-card--light link-card--6">
												<div class="link-card__left">
													<p class="link-card__text">
														Форма согласия на обработку персональных данных
													</p>
												</div>
												<div class="link-card__right">
													<svg class="icon-svg none-image">
														<use xlink:href="./img/sprites/sprite.svg#link-card">
														</use>
													</svg>
													<span class="link-card__discript">Скачать</span>
												</div>
											</a>
											<a href="/about/docs/files/otchet-2022.pdf" target="_blank"
											   class="link-card link-card--light link-card--6">
												<div class="link-card__left">
													<p class="link-card__text">
														Отчёт ОН0001 2022 ЦПП
													</p>
												</div>
												<div class="link-card__right">
													<svg class="icon-svg none-image">
														<use xlink:href="./img/sprites/sprite.svg#link-card">
														</use>
													</svg>
													<span class="link-card__discript">Скачать</span>
												</div>
											</a>
											<a href="/about/docs/files/otchet-2022-2.pdf" target="_blank"
											   class="link-card link-card--light link-card--6">
												<div class="link-card__left">
													<p class="link-card__text">
														Отчет ОН0002 2022 ЦПП
													</p>
												</div>
												<div class="link-card__right">
													<svg class="icon-svg none-image">
														<use xlink:href="./img/sprites/sprite.svg#link-card">
														</use>
													</svg>
													<span class="link-card__discript">Скачать</span>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</article>
						<article class="drop-card">
							<div class="drop-card__header" tabindex="0">
								<p class="drop-card__title">
									Отбор аудиторов 2022
								</p>
								<svg class="icon-svg drop-card__icon">
									<use xlink:href="./img/sprites/sprite.svg#drop-arrow"></use>
								</svg>
							</div>
							<div class="drop-card__main">
								<div class="drop-card__content">
									<div class="articles">
										<div class="articles__content">
											<a href="/about/docs/files/por.docx" target="_blank"
											   class="link-card link-card--light link-card--6">
												<div class="link-card__left">
													<p class="link-card__text">
														Порядок отбора аудиторских организаций или индивидуальных
														аудиторов
													</p>
												</div>
												<div class="link-card__right">
													<svg class="icon-svg none-image">
														<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
													</svg>
													<span class="link-card__discript">Скачать</span>
												</div>
											</a>
											<a href="/about/docs/files/izv.docx" target="_blank"
											   class="link-card link-card--light link-card--6">
												<div class="link-card__left">
													<p class="link-card__text">
														Извещение о проведение конкурса
													</p>
												</div>
												<div class="link-card__right">
													<svg class="icon-svg none-image">
														<use xlink:href="./img/sprites/sprite.svg#link-card">
														</use>
													</svg>
													<span class="link-card__discript">Скачать</span>
												</div>
											</a>
											<a href="/about/docs/files/finish_protocol.pdf" target="_blank"
											   class="link-card link-card--light link-card--6">
												<div class="link-card__left">
													<p class="link-card__text">
														Итоговый протокол
													</p>
												</div>
												<div class="link-card__right">
													<svg class="icon-svg none-image">
														<use xlink:href="./img/sprites/sprite.svg#link-card">
														</use>
													</svg>
													<span class="link-card__discript">Скачать</span>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
				
				<!--					<div class="block-text text">
								<h4>
									Документы фонда
								</h4>
							</div>
							<div class="articles">
								<div class="articles__content">
									<a href="/upload/iblock/299/299120a8eb4ba10a5259c20cb2cd35f3.pdf" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Свидетельство о внесении в реестр МФО
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<a href="/upload/iblock/563/563ab64c6b40ffe7d463b4cfef3db23f.pdf" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Свидетельство о вступлении в СРО
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<a href="/upload/iblock/8db/%D0%9F%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0%20%D0%BF%D1%80%D0%B5%D0%B4%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D0%B7%D0%B0%D0%B8%CC%86%D0%BC%D0%BE%D0%B2%20%D0%A1%D0%9C%D0%A1%D0%9F%20%20%20%D0%9A%D0%B0%D0%BB%D0%B8%D0%BD%D0%B8%D0%BD%D0%B3%D1%80%D0%B0%D0%B4%D1%81%D0%BA%D0%BE%D0%B8%CC%86%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D0%B8.pdf" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Правила предоставления микрозаймов СМСП Калининградской области
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<a href="/upload/iblock/d87/%D0%9F%D1%80%D0%B8%D0%BB%207%20%D0%9C%D0%B5%D1%82%D0%BE%D0%B4%D0%B8%D0%BA%D0%B0%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B%20%D1%81%20%D0%B7%D0%B0%D0%BB%D0%BE%D0%B3%D0%BE%D0%BC.pdf" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Методика работы с залогом
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<a href="spisok_lic.docx" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Список лиц оказывающих влияние на Фонд
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<a href="/upload/iblock/ef4/%D0%9F%D1%80%D0%B8%D0%BB%206%20%D0%9C%D0%B5%D1%82%D0%BE%D0%B4%D0%B8%D0%BA%D0%B0%20%D0%BA%D1%80%D0%B5%D0%B4%D0%B8%D1%82%D0%BE%D1%81%D0%BF%D0%BE%D1%81%D0%BE%D0%B1%D0%BD%D0%BE%D1%81%D1%82%D0%B8.pdf" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Методика кредитоспособности
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<a href="/upload/iblock/5da/5dae967efd1e1d8b889b84b8986d203e.pdf" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Политика в отношении обработки персональных данных
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<a href="/upload/iblock/682/682949929442634c7d0291e42b47ef86.7z" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Формы документов по 230-ФЗ
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<a href="/upload/iblock/67b/67b24c42e25bb5b3c5a1b7a9b53090eb.pdf" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Антикоррупционная политика
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<a href="/upload/iblock/464/4646ff602dbf797e6c25dbc887ed7c43.doc" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Согласие на обработку
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<div class="link-card link-card--6 link-card--light link-card--clear"></div>
									<div class="link-card link-card--6 link-card--light link-card--clear"></div>
									<div class="link-card link-card--6 link-card--light link-card--clear"></div>
								</div>
							</div>
							<div class="hr"></div>
							<div class="block-text text">
								<h4>
									Учредительные документы
								</h4>
							</div>
							<div class="articles">
								<div class="articles__content">
									<a href="/upload/iblock/0eb/%D0%A3%D1%81%D1%82%D0%B0%D0%B2%20%D0%A6%D0%9F%D0%9F%20%D1%80%D0%B5%D0%B4.%20%D0%BE%D1%82%2004.09.2019.pdf" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Устав
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<a href="/upload/iblock/3b8/3b8d9174122368f496d6acb7c35ec9f0.pdf" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Свидетельство ОГРН
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<a href="/upload/iblock/d9b/d9b78ff76640eded062dc48644f9a63a.pdf" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Свидетельство ИНН
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<div class="link-card link-card--6 link-card--light link-card--clear"></div>
								</div>
							</div>
							<div class="hr"></div>
							<div class="block-text text">
								<h4>
									Отбор аудиторской организации
								</h4>
							</div>
							<div class="articles">
								<div class="articles__content">
									<a href="/upload/iblock/890/89061be69045958760f68f690d83d0d2.docx" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Информаиця
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<a href="/upload/iblock/fbf/fbfb2b8736fba01633e96fe07f03fecd.pdf" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Порядок отбора
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<a href="/upload/iblock/ff5/ff56595a216ea72effd8e0f8d2a34608.docx" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Извещение
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<a href="/upload/iblock/781/781d8cefe1b3f657e127b019bec1487d.docx" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Приложение к Порядку отбора
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<div class="link-card link-card--6 link-card--light link-card--clear"></div>
								</div>
							</div>
							<div class="hr"></div>
							<div class="block-text text">
								<h4>
									Законодательство
								</h4>
							</div>
							<div class="articles">
								<div class="articles__content">
									<a href="/upload/iblock/0bf/0bf438d3f38a89d8167de4246ceaa9a3.rtf" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Федеральный закон от 02.07.2010 N 151-ФЗ (ред. от 23.04.2018)
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
		
									<a href="/upload/iblock/dc7/dc78ba24addc3a84c695f1f4768d5807.rtf" target="_blank" class="link-card link-card--6 link-card--light">
										<div class="link-card__left">
											<p class="link-card__text">
												Федеральный закон от 24.07.2007 N 209-ФЗ (ред. от 03.08.2018)
											</p>
										</div>
										<div class="link-card__right">
											<svg class="icon-svg none-image">
												<use xlink:href="/img/sprites/sprite.svg#link-card"></use>
											</svg>
											<span class="link-card__discript">
												Скачать
											</span>
										</div>
									</a>
								</div>
							</div>-->
			</div>
		</section>
	</main>
	@@include("../blocks/modules/footer/footer.html")
</div>

@@include("../blocks/modules/m-menu/m-menu.html")

<script src="js/vendor.js"></script>
<script src="js/main.js"></script>
</body>
</html>
