<!DOCTYPE html>
<html lang="ru">
<head>
	<title>8.1 Нормативные документы</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
<div class="page">
	@@include("../blocks/modules/panel/panel.html")
	@@include("../blocks/modules/header/header.html")
	<main class="content page__content">
		<section class="section">
			<div class="container ui__container">
				<nav class="breadcrumbs">
					<a href="/" class="breadcrumbs__link">
						Главная
					</a>
					<svg class="icon-svg breadcrumbs__arrow">
						<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
					</svg>
					<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
					<svg class="icon-svg breadcrumbs__arrow">
						<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
					</svg>
					<a href="/8-page.html" class="breadcrumbs__link">
						Консультация и обучение
					</a>
					<svg class="icon-svg breadcrumbs__arrow">
						<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
					</svg>
					<span class="breadcrumbs__link breadcrumbs__link--static">
							Нормативные документы
						</span>
				</nav>
				<h2 class="title title--line">
					<span class="title__text">Нормативные документы</span>
				</h2>
			</div>
		</section>
		<section class="section section--dark">
			<div class="container">
				<div class="block-text text">
					<h4>
						Нормативно-правовая база
					</h4>
				</div>
				<div class="articles">
					<div class="articles__content">
						
						<a id="bx_3218110189_21941" href="https://fakeimg.pl/600x400" target="_blank"
						   class="link-card link-card--12 link-card--light">
							<div class="link-card__left">
								<p class="link-card__text">
									Регламент оказания услуг </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						<a id="bx_3218110189_350" href="/upload/iblock/465/4654d69b91ac37f33647281d2903aed3.rtf"
						   target="_blank" class="link-card link-card--12 link-card--light">
							<div class="link-card__left">
								<p class="link-card__text">
									Постановление Правительства Калининградской области от 25 марта 2014 г. N 144 «О
									Государственной программе Калининградской области «Развитие промышленности и
									предпринимательства» </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						<a id="bx_3218110189_352" href="/upload/iblock/0b7/0b7cb27fe4316dfd9d5f4c5fe07eea5a.rtf"
						   target="_blank" class="link-card link-card--12 link-card--light">
							<div class="link-card__left">
								<p class="link-card__text">
									Постановление Правительства Калининградской области от 30 марта 2018 г. N 146 "Об
									установлении порядков предоставления из областного бюджета субсидий фонду "Центр
									поддержки предпринимательства Калининградской области (микрокредитная компания)" и
									установлении порядка предоставления из областного бюджета субсидии субъектам малого
									и среднего предпринимательства, а также признании утратившим силу отдельного решения
									Правительства Калининградской области" (с изменениями и дополнениями) </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						<a id="bx_3218110189_351" href="/upload/iblock/1b5/142-prikaz-red.-ot-10.10.2022.docx"
						   target="_blank" class="link-card link-card--12 link-card--light">
							<div class="link-card__left">
								<p class="link-card__text">
									Приказ от 26 марта 2021 г. N 142 «Об утверждении требований к реализации
									мероприятий, осуществляемых субъектами Российской федерации, бюджетам которых
									предоставляются субсидии на государственную поддержку малого и среднего
									предпринимательства, а также физических лиц, применяющих специальный налоговый режим
									"налог на профессиональный доход", в субъектах российской федерации, направленных на
									достижение целей, показателей и результатов региональных проектов, обеспечивающих
									достижение целей, показателей и результатов федеральных проектов, входящих в состав
									национального проекта "малое и среднее предпринимательство и поддержка
									индивидуальной предпринимательской инициативы", и требований к организациям,
									образующим инфраструктуру поддержки субъектов малого и среднего
									предпринимательства» </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<div class="link-card link-card--6 link-card--light link-card--clear"></div>
						<div class="link-card link-card--6 link-card--light link-card--clear"></div>
						<div class="link-card link-card--6 link-card--light link-card--clear"></div>
					</div>
				</div>
				<div class="hr"></div>
				<div class="block-text text">
					<h4>
						Программа (стратегия) развития центра поддержки предпринимательства
					</h4>
				</div>
				<div class="articles">
					<div class="articles__content">
						
						<a id="bx_651765591_324" href="/upload/iblock/0b3/Стратегия ЦПП 2021-2023.pdf" target="_blank"
						   class="link-card link-card--12 link-card--light">
							<div class="link-card__left">
								<p class="link-card__text">
									Программа (стратегия) развития центра поддержки предпринимательства на среднесрочный
									плановый период 2021-2023 гг. </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<div class="link-card link-card--6 link-card--light link-card--clear"></div>
					</div>
				</div>
				<div class="hr"></div>
				<div class="block-text text">
					<h4>
						Программа обучения
					</h4>
				</div>
				<div class="articles">
					<div class="articles__content">
						
						
						<a href="/upload/iblock/fbb/fbbfb4ffc9e66f3783d29d602032ee38.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2017 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/0d9/план обучающих программ_2019.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2019 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/7bc/план обучающих программ_2020-10-27.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2020 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/e89/plan-obuchayushchikh-programm_2021.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2021 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/663/plan-obuchayushchikh-programm_2022.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2022 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/2c1/plan_obuchayushchikh_programm_2023.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2023 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<div class="link-card link-card--6 link-card--light link-card--clear"></div>
					</div>
				</div>
				
				<div class="hr"></div>
				<div class="block-text text">
					<h4>
						План работы Центра поддержки предпринимательства
					</h4>
				</div>
				<div class="articles">
					<div class="articles__content">
						
						
						<a href="/upload/iblock/7b1/7b1c39a6ab22e35388bf22ccf7300dd1.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2017 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/dc6/dc680efb8e3feecf4369d3df51300cd2.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2018 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/2b5/План работы  ЦПП_2019 г..docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2019 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/5aa/План работы  ЦПП_2020-10-27.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2020 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/47e/Plan-raboty-TSPP_2021.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2021 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/f55/Plan-raboty-TSPP_2022.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2022 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/7a0/Plan_raboty_TSPP_2023.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2023 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<div class="link-card link-card--6 link-card--light link-card--clear"></div>
					</div>
				</div>
				
				<div class="hr"></div>
				<div class="block-text text">
					<h4>
						План межрегиональных бизнес-миссий в другие субъекты Российской Федерации
					</h4>
				</div>
				<div class="articles">
					<div class="articles__content">
						
						
						<a href="/upload/iblock/621/62121660a2ce96441491557d4cd58237.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2018 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/cab/План БМ и выставки _2019г..docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2019 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/415/План БМ  _ 2020-10-27.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2020 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/37e/Plan-BM-_-2021-_1_.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2021 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/e1e/Plan-BM-_-2022.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2022 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/d26/Plan_BM_2023.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2023 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<div class="link-card link-card--6 link-card--light link-card--clear"></div>
					</div>
				</div>
				
				<div class="hr"></div>
				<div class="block-text text">
					<h4>
						Отчет о деятельности Центра поддержки предпринимательства
					</h4>
				</div>
				<div class="articles">
					<div class="articles__content">
						
						
						<a href="/upload/iblock/a2e/a2e32cc951effa5db2cf52c94b753f84.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2017 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/5ad/5add79b495d279e48ae4bc2ef59ef974.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2018 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/579/Итоговый отчет за 2019г._ЦПП.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2019 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/92b/Итоговый отчет за 2020 ЦПП.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2020 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/5e7/Itogovyy-otchet-za-2021-TSPP.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2021 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/adb/Itogovyy-otchet-za-2022-TSPP.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2022 </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<div class="link-card link-card--6 link-card--light link-card--clear"></div>
					</div>
				</div>
				
				<div class="hr"></div>
				<div class="block-text text">
					<h4>
						Сведения об обращениях субъектов малого и среднего предпринимательства в Центр поддержки
						предпринимательства
					</h4>
				</div>
				<div class="articles">
					<div class="articles__content">
						
						
						<a href="/upload/iblock/8e1/Сведения об обращениях 2019.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2018 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/9f8/Сведения об обращениях 2019.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2019 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/7e3/Сведения об обращениях 2020.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2020 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/d61/Svedeniya-ob-obrashcheniyakh-2021.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2021 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/7fc/Svedeniya-ob-obrashcheniyakh-2022.docx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2022 </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<div class="link-card link-card--6 link-card--light link-card--clear"></div>
					</div>
				</div>
				
				<div class="hr"></div>
				<div class="block-text text">
					<h4>
						Реестр субъектов малого и среднего предпринимательства - получателей поддержки
					</h4>
				</div>
				<div class="articles">
					<div class="articles__content">
						
						<a href="reports/report_poluch_2017.zip" target="_blank"
						   class="link-card link-card--6 link-card--light">
							<div class="link-card__left">
								<p class="link-card__text">
									2017 год
								</p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
										Скачать
									</span>
							</div>
						</a>
						
						<a href="reports/report_poluch_2018.zip" target="_blank"
						   class="link-card link-card--6 link-card--light">
							<div class="link-card__left">
								<p class="link-card__text">
									2018 год
								</p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
										Скачать
									</span>
							</div>
						</a>
						
						<a href="reports/report_poluch_2019.zip" target="_blank"
						   class="link-card link-card--6 link-card--light">
							<div class="link-card__left">
								<p class="link-card__text">
									2019 год
								</p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
										Скачать
									</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/b60/Реест получателей поддержки _2020_ Свод.xlsx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2020 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/990/Reestr-TSPP-2021_na-31.12.2021.xlsx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2021 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<a href="/upload/iblock/8a4/Reestr-TSPP-2022.xlsx" target="_blank"
						   class="link-card link-card--light link-card--6">
							<div class="link-card__left">
								<p class="link-card__text">
									2022 год </p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg none-image">
									<use xlink:href="./img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
			Скачать
		</span>
							</div>
						</a>
						
						
						<div class="link-card link-card--6 link-card--light link-card--clear"></div>
					</div>
				</div>
			
			
			</div>
		</section>
	</main>
	@@include("../blocks/modules/footer/footer.html")
</div>

@@include("../blocks/modules/m-menu/m-menu.html")

<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
</body>
</html>
