.item-prof {
	width: calc(25% - 10px);
	padding: rem(30px);
	margin-bottom: rem(15px);
	@include r(1200) {
		width: calc(50% - 10px);
	}
	@include r(600) {
		width: 100%;
	}
	&--light {
		background-color: $light;
	}
	&--clear {
		height: 0;
		padding: 0;
		visibility: hidden;
		margin-bottom: 0;
	}
	&__icon {
		display: block;
		width: rem(20px);
		height: rem(20px);
		margin-bottom: rem(12px);
	}
}

.body {
	&--light {
	}
	&--dark {
	}
}